@import "info-bar-expand-label";

#element-info-bar
{
  .collapsible-header
  {
    position: relative;
    z-index: 2;
    span.added { color: #3ab33a;}
  }

  .collapsible-body
  {
    .collapsible-body-main-container
    {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: auto;
    }

    .img-container, .img-overlay {
      height:33%;
      background-color: transparent;
    }
  }
}

#element-info-bar.display-bottom .element-item
{
  .collapsible-header
  {
    background-color: inherit !important;
    a { color: inherit; &:hover { color: black; } }
  }

  &:not(.active) {
    .collapsible-header { border: none !important; }
    .header-date { opacity: .85; }
  }

  .collapsible-header, .collapsible-body {
    padding-left: .5rem;
    padding-right: .5rem;

    @media #{$small-only} {
      padding-left: .8rem;
      padding-right: .8rem;
      padding-top: 5px;
    }
  }
}

#element-info-bar.display-aside .element-item
{
  .collapsible-header
  {
    border: none;
    cursor: default;
    width: 100%;

    a { color: white; &:hover { color: #e6e6e6 } }

    .collapsible-header-title
    {
        position: relative;
        line-height: 2.5rem;
        font-weight: normal;

        .distance { font-size: 1.3rem; color: inherit; }
        .gogo-icon-close { font-size: 1.5rem; margin-top: -.8rem; }
    }

    .collapsible-header-more { margin-bottom: 1rem; }

    .name { font-size: 1.8rem; text-align: left; }
    .name, .description { width: 100% !important; }
    .description { margin-bottom : 0; }
  }

  .collapsible-body
  {
    height: 100%;
    overflow-y: auto;
  }
}

