.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.label-success {
    background-color: #00a65a;
}

.label-default {
    background-color: #d2d6de;
    color: #444;
}

.contributions
{
    border: none;
    box-shadow: none;
    margin-top: 0;

    .contribution-header {
        color: inherit;
        background-color: transparent;
        border: none;
        box-shadow: none;
        line-height: 2rem;
        padding: 15px 0;
        border-bottom: 1px solid grey;
        .contribution-status { float: left; }
        .contribution-updated-at { float: right; }
    }

    .contribution-body {
        color: inherit;
    }
}

.info-bar-tabs.tabs {
    .tab a { cursor: pointer; }
}

.item-container
{
  border-bottom: 1px dashed grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.vote-report-item {
  line-height: 1.5rem !important;
}

.pending-contribution
{
    line-height: 1.5rem !important;
    margin-bottom: 0rem;
    padding: 0;
}

.vote-report-comment { font-style: italic }

.body-admin-tab-content {
    display:none; // hidden by default
    padding-right: 10px;
    font-size: .9em;
    .vote-report-item { padding: 0 !important }
}




