@import "element-menu";
@import "interactive-section";
@import "admin";

.element-item
{
	list-style-type: none;	
	@include flexbox();
  @include flex-flow(column nowrap);  

	h3
	{
		font-size: .85rem;
		text-transform: uppercase;
    font-weight: 600;
    padding-left: 0.75rem;
    margin-bottom: 0;
    padding-top: 1.5rem;
  	margin-top: 0;
	}		

	.info-bar-divider 
	{
	  height: 1px;
	  overflow: hidden;
	  background-color: #CCCCCC;
	}

	.btn
	{
		height: 2rem;
  	line-height: 2rem;
  	padding: 0 1rem;
  	margin-bottom: 1rem;
	}

  &.active {
    .expandLabel:before { content: "Moins d'infos" }
  }

  &:not(.active) { 
    .expandLabel:before { content: "Plus d'infos" }
  }

	.expandLabel { font-weight: bold; }
	
	.collapsible-header
	{
		padding: 0; 
    position: relative;
		//@media #{$medium-and-up} { padding: .5rem 0 0 0; }
		i { margin-right: 0; padding-left: 0.3rem; }

    a { text-decoration: underline; }

		.collapsible-header-title 
		{ 		
			position: relative;
			padding: 0;
			@media #{$medium-and-up} { padding: 1rem; padding-bottom: .5rem; }
			margin-bottom: 0rem; 
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 2rem;
    	padding: .5rem 0;
			font-weight: bold;

			.distance 
	    { 
	        float: right; 
	        margin-left: 1rem;
	    } 
      .location { display: none; }  

			/* @extend .colorAs; */
		}

		.collapsible-header-more 
		{ 
			line-height: 1.5rem; 
			padding: 0;
			@media #{$medium-and-up} { padding: 0 1rem; }
			margin-bottom: .5rem;

			.inline-option-values  
			{ 
		    font-weight: bold;
		    font-style: italic;

		    .option-value.disabled { color: #9C9C9C; font-weight: normal; }
			}
			.description
			{
		    margin-bottom: .7rem;
		    text-align: justify;

        p { margin: 0}
			}
		}		
	}	
	
	.collapsible-body
	{
		background-color: transpraent;
		padding: 0;
		position: relative;   
    

		.collapsible-body-main-content
		{
      background-color: #F7F7F7;
      padding: 0 0rem 1rem .5rem;
			@media #{$medium-and-up} { padding: 0 0rem 1rem 1rem }	
		}

		h2
		{
		  font-weight: bold !important;
		  font-size: 1rem !important; 
		  line-height: 110% !important;
		  margin: 0.5rem 0 .8rem 0 ;
		}
		.row { margin-bottom: 0 }
		.section{ padding-top: .9rem;  }
    
		.description{ text-align: justify;line-height: 1.5;padding-right: 1.5rem; }
    .show-more-description { 
      display: inline;
      text-decoration: underline;
      &:hover { 
        cursor: pointer;
      }
    }

		.send-mail-btn
		{
			font-size: .8rem;
	    margin: .4rem 0 .5rem 0;
	    line-height: 1.8rem;
	    height: 1.8rem;
		}

		.section.categories
		{
			h3 { margin-bottom: 1rem; }
		}

		.sectionInfos, .sectionOpenHours { line-height: 2rem; } 

    .sectionlongDescription {
      padding-bottom: 0;
      padding-top: 1.5rem;
    }

    .category-name 
    { 
      padding-top: .6rem;
      padding-bottom: 1rem;
    }

		.category-wrapper
		{
			margin-top: 0 !important;

      .strong { text-decoration: underline }	

      &:not(:first-child) { margin-top: .5rem; }

			// a category inside an other, so we add margin
			.category-wrapper 
			{
				margin-left: 1.2rem;
    		padding-left: .5rem;
	    	border-left: 1px dotted #c3c3c3;
	    	margin-bottom: .5rem;

	    	// underline juste first option in option Tree
	    	.strong { text-decoration: none !important }	
			}			

			.option-name 
			{
				&.main-option { font-weight : bold }
			}

			.inline-option 
			{ 
				font-style: italic;
				span.disabled { color: #9C9C9C; }
			}

			.option-description 
			{ 
				padding: .5rem; 
				font-style: italic;
		    font-size: .9rem;
		    color: #5d5d5d;

				&.disabled { color: #9C9C9C; }				
			}      
			
			.option-value
			{ 
				line-height: 2.5rem; 				
  			padding-right: 0;

  			.icon 
  			{ 
  				font-size: 20px; 
  				&.gogo-icon-marker { font-size : 19px } 
  				&.disabled { color:#BFBFBF !important; }
  			}  			

  			&.disabled { color: #9C9C9C !important; }
			}
      .category-wrapper .option-value { padding-left: .6rem; }
		}		
	}
}

#element-info-bar.display-bottom
{ 
	.collapsible-header { 
    background-color: white !important; 
    a { color: inherit; &:hover { color: black; } }
  }  
}	

#element-info-bar.display-aside .element-item
{
	.collapsible-header
  {	        
      //background-color: $secondary-color;//$submenu-color;
      border: none;      
      color: white;
      cursor: default;
      width: 100%;

      a { color: white; &:hover { color: #e6e6e6 } }

      .collapsible-header-title
      {
          position: relative;
					line-height: 2.5rem;
          font-weight: normal;

          .distance { font-size: 1.3rem; color: inherit; }
          .gogo-icon-close { font-size: 1.5rem; margin-top: -.8rem; }
      }

      .collapsible-header-more { margin-bottom: 1rem; }

      .name { font-size: 1.8rem; text-align: left; }
      .name, .description { width: 100% !important; }
      .description { margin-bottom : 0; }
  }

  .collapsible-body
  {
    height: 100%;
    overflow-y: auto;
  }
}	

.element-item
{	
	span.added 
	{
		color: #3a772c
	}	

	span.removed
	{
		text-decoration: line-through;
    margin-right: 5px;
    color: #b57e7e;
	}

	a > span.equals
	{
		color: rgba(0, 0, 0, 0.87) !important;
	}
}

#element-info
{
	.collapsible-header 
  { 
    position: relative;
    z-index: 2;
    span.added { color: #3ab33a;}     
  }

  .element-item.active {
    .expandLabel.transform-big {
      position: absolute;
      color: white;
      z-index: 2;   
      right: 0;
      width: auto;
      margin-right: 1.7rem;
      @include transition(all .4s);
      
      @media #{$small-only} {
        padding: .3rem 1.2rem;
        bottom: -1rem;
      }
      padding: 8px 25px;
      bottom: -20px;
      
      @extend .z-depth-1;

      &:hover { 
        color: white;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.19) 
      }
    }
  }

  .element-item:not(.active) .expandLabel, .expandLabel:not(.transform-big) {
    background-color: transparent !important; 
  }

  .img-container 
  {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .collapsible-body-main-container
  {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;    
    overflow-y: auto;
  }

  .img-overlay {
    height:25%;
    background-color: transparent;
    display: flex;
  }

  .img-button {
    margin: auto;
    padding: 5px 13px;
    background-image: linear-gradient(#808700, #fff);
    border-radius: 50%;
    box-shadow: 1px 1px 2px #505700;
    color: #808700 !important;
    cursor: pointer !important;
  }

  #img-link {
    width: 100%;
    cursor: pointer !important;
  }
}

.gogo-img 
{
  width: 100%;
  height: auto;
}