#element-info-bar.display-aside
{
	.menu-element { height: auto }
}

.menu-element
{
	z-index: 10;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;

	.menu-element-item-text { display: none; }

	&:not(.full-text) { min-height: 3rem; }

	&.full-text
	{
		padding: .3rem 0 .8rem 0;
		@media #{$small-only} { padding-top: 0; }

		.menu-element-item {
			@media #{$small-only} { margin: 0 6px -.9rem 6px }
			margin: 0 10px -.5rem 10px;
			@media (min-width: 1400px) { margin: 0 .8rem -.5rem .8rem; }
		}

		.menu-element-item-text
		{
			display: inline;
			text-transform: uppercase;
			font-size: 0.75rem;
			line-height: 3rem;
    	margin-left: .5rem;

    	@media #{$small-only} { font-size: 10px; }
    	@media (min-width: 1400px) { font-size: 0.8rem; }

			&.favorite { color : rgb(255, 171, 0); }
		}
	}

	.menu-element-item
	{
		display: inline-block;
		margin: 0 1rem;

		a { color: inherit; }

		.menu-icon
		{
			font-size: 20px;
			float: left;

			&.small-icon { font-size: 18px; }
			&:before { line-height: 2.8rem; }

			@media #{$medium-and-up}
			{
				font-size: 22px;

				&.small-icon { font-size: 20px; }
				&:before { line-height: 3rem; }
			}
		}

		.gogo-icon-star-full:before
		{
			padding: 2px;
			padding-bottom: 3px;
			border: none;
		}

		&.item-stamp.filled {
			color : rgb(255, 171, 0);
			font-weight: bold;
		}
	}
}

