.collapsible-body
{
  background-color: transparent;
  padding: 0;
  position: relative;
  border: none;

  .collapsible-body-main-content
  {
    padding: .8rem;
    line-height: 2rem;  

    @media #{$medium-and-up} { padding: 1rem; }    
  }  
}
