{% set longDescription = element.getProperty('longDescription') %}
{% if longDescription %}
    <!-- <h3>Précisions</h3>    -->
    <div class="section row sectionlongDescription" style="padding-bottom:0">
      <div class="col s12 description long-descrition">
        <span>{{ longDescription|safe }}</span>
        {% if element.longDescriptionMore %}
          <span style="display:none" class="description-more">{{ element.longDescriptionMore|safe }}</span>  
          <a class="show-more-description">Afficher plus</a>
        {% endif %}
      </div>  
      
    </div>
  {% endif %}
{# Contact infos #}
<h3>Informations générales</h3>   
<div class="section row sectionInfos">

  {# Address #}
  <span class="col s12 address">{{ element.getProperty('address')|safe }}</span>
  
  {# Tel #}
  {% set telephone = element.getProperty('telephone') %}
  {% if telephone %}
    <span class="col s12 tel">{{ telephone|safe }}</span>
  {% endif %}

  {# Mail #}
  {% set email = element.getProperty('email') %}
  {% if email %}
    <span class="col s12 tel">
    {# if element is pending we need to show the email no matter the security rules #}
    {% if config.security.hideMailsByShowingSendMailButton and not (element.isPending() and config.isFeatureAvailable('pending')) %}
      <button class="btn send-mail-btn">Envoyer un Mail</button>
    {% else %}
      {{ element.getProperty('email')|safe }}           
    {% endif %}
    </span>
  {% endif %}

  {# WebSite #}
  {% set website = element.getProperty('website') %}
  {% if website %}
    <span class="col s12 tel"><a href="{{ element.website }}" target="_blank">{{ website|safe }}</a>
    </span>
  {% endif %}

</div>
<div class="info-bar-divider"></div>

{# Categories  #}
<div class="section row">
  {% import here ~ 'category-value.html.njk' as categoryRenderer %}
  {% for mainCategoryValue in rootCategoriesValues %}
    {{ categoryRenderer.renderCategoryValue(mainCategoryValue) }}
  {% endfor %}
</div>


{% set commitment = element.getProperty('commitment') %}      
{% if commitment %}
  <div class="info-bar-divider"></div>
  <h3>Engagement Citoyen</h3>   
  <div class="section row">
    <span class="col s12 description">{{ commitment|safe }}</span>  
  </div>  
{% endif %}

{# Open Hours #}
{% set openHoursMoreInfos = element.getProperty('openHoursMoreInfos') %}     
{% if element.formatedOpenHours|length or openHoursMoreInfos %}
  <div class="info-bar-divider"></div>
  <h3>Horaires d'ouverture</h3>  
  <div class="section row sectionOpenHours">  
    {% set count = 0 %} 

    {% for key, horaire in element.formatedOpenHours %} 
      {% if horaire != null %}

        <div class='row'>
          <span class="col s3 day">{{ key|capitalize }}</span>
          <span class="col s9 openHours">{{ horaire }} </span>
        </div>
        {% set count = count + 1 %} 

      {% endif %}
    {% endfor %} 

    {% if openHoursMoreInfos %}
      <div class='col' {% if count != 0 %}style="margin-top:1rem;"{% endif %}>{{ openHoursMoreInfos|safe }}</div> 
      {% set count = count + 1 %} 
    {% endif %}

    {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %}  
  </div> 
{% endif %}
