{% set here = "components/element/" %}
{# -------------- #}
{#  BODY DEFAULT  #}
{# -------------- #}
{% set longDescription = element.getProperty('longDescription') %}
{% if longDescription %}
  <div class="section row sectionlongDescription" style="padding-bottom:0">
    <div class="col s12 description long-descrition">
      <span>{{ longDescription|safe }}</span>
      {% if element.longDescriptionMore %}
        <span style="display:none" class="description-more">{{ element.longDescriptionMore|safe }}</span>  
        <a class="show-more-description">Afficher plus</a>
      {% endif %}
    </div>        
  </div>
{% endif %}

{# Contact infos #}
<h3>Informations générales</h3>   
<div class="section row sectionInfos">

  {# Address #}
  <span class="col s12 address">{{ element.getProperty('address')|safe }}</span>
  
  {# Tel #}
  {% set telephone = element.getProperty('telephone') %}
  {% if telephone %}
    {{telephone|gogotelephone}}
  {% endif %}

  {# Mail #}
  {% set email = element.getProperty('email') %}
  {% if email %}
    {{ email|gogoemail(hideMail = config.security.hideMailsByShowingSendMailButton, isPending = element.isPending(), featurePendingAvailable = config.isFeatureAvailable('pending')) }}
  {% endif %}

  {# WebSite #}
  {% set website = element.getProperty('website') %}
  {% if website %}
    {{website|gogowebsite}}
  {% endif %}

  {% set urls = element.urls %}
  {% if urls %}
    {{ urls|gogourls }}
  {% endif %}

</div>
<div class="info-bar-divider"></div>

{# Categories  #}
<div class="section section-taxonomy row">
  {% import here ~ 'category-value.html.njk' as categoryRenderer %}
  {% for mainCategoryValue in rootCategoriesValues %}
    {{ categoryRenderer.renderCategoryValue(mainCategoryValue) }}
  {% endfor %}

  {% set tags = element.getProperty('tags') %}
  {% if tags %}
    {{ tags|gogotags}}
  {% endif %}
</div>

{% set commitment = element.getProperty('commitment') %}      
{% if commitment %}
  <div class="info-bar-divider">
  {{commitment|gogocommitment}}
{% endif %}

{# Open Hours #}
{% set openHoursMoreInfos = element.getProperty('openHoursMoreInfos') %}     
{% if element.formatedOpenHours|length or openHoursMoreInfos %}
  <div class="info-bar-divider"></div>
  {{openHoursMoreInfos|gogoopenhours(formatedOpenHours = element.formatedOpenHours)}}
{% endif %}

{# Vidéo #}
{% set vimeoId = element.getProperty('vimeoId') %}
{% if vimeoId %}
  <div class="info-bar-divider"></div>
  <h3>Video</h3>
  {% if vimeoId %}
    <style>.embed-container { position: relative; padding-bottom: 65.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/{{ vimeoId }}?byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0"></iframe></div>
  {% endif %}
{% endif %}
