{% set here = "components/element/" %}
{# -------------- #}
{#  BODY DEFAULT  #}
{# -------------- #}
{% set longDescription = element.getProperty('longDescription') %}
{% if longDescription %}
  <div class="section row sectionlongDescription" style="padding-bottom:0">
    <div class="col s12 description long-descrition">
      <span>{{ longDescription|safe }}</span>
      {% if element.longDescriptionMore %}
        <span style="display:none" class="description-more">{{ element.longDescriptionMore|safe }}</span>  
        <a class="show-more-description">Afficher plus</a>
      {% endif %}
    </div>        
  </div>
{% endif %}

{# Contact infos #}
{{ 'Informations générales'|gogotitle }}

{# Address #}
{{ element.getProperty('address')|gogotext }}

{# Tel #}
{{ element.getProperty('telephone')|gogotext }}

{# Mail #}
{{ element.getProperty('email')|gogoemail(isPending = element.isPending()) }}

{# WebSite #}
{{ element.getProperty('website')|gogourl }}

{% set urls = element.urls %}
{% if urls %}
  {% for currentUrl in urls %}
    {{ url.value|gogourl }}
  {% endfor %}    
{% endif %}

{{ ''|gogoseparator }}

{# Categories  #}
<div class="field field-taxonomy">
  {% import here ~ 'category-value.html.njk' as categoryRenderer %}
  {% for mainCategoryValue in rootCategoriesValues %}
    {{ categoryRenderer.renderCategoryValue(mainCategoryValue) }}
  {% endfor %}  
</div>

{{ element.getProperty('tags')|gogotags}}

{% if element.getProperty('commitment') %}
{{ ''|gogoseparator }}
{{ 'Engagement Citoyen'|gogotitle }}
{{ element.getProperty('commitment')|gogotext }}
{% endif %}

{# Open Hours #}
{% if element.formatedOpenHours|length or element.getProperty('openHoursMoreInfos') %}
  {{ ''|gogoseparator }}
  {{ "Horaires d'ouverture"|gogotitle }} 
  {{ element.formatedOpenHours|gogoopenhours }}
  {{ element.getProperty('openHoursMoreInfos')|gogootext }}
{% endif %}

{# Vidéo #}
{% if element.getProperty('vimeoId') %}
  {{ ''|gogoseparator }}
  {{ 'Video'|gogotitle }}
  {{ element.getProperty('vimeoId')|gogovimeo }}
{% endif %}

