{% macro renderCategoryValue(categoryValue) %}

{% set activeChildrenCount = 0 %}
{% for optionValue in categoryValue.children %}
	{% if optionValue.option.displayInInfoBar %}
		{% set activeChildrenCount = activeChildrenCount + 1 %}
	{% endif %}
{% endfor %}	

{% set wrapOptionsIntoCategoryContainer = activeChildrenCount > 0 %}

{% if wrapOptionsIntoCategoryContainer %}
	<div class="category-wrapper">	
{% endif %}

{% if categoryValue.category.isRootCategory or categoryValue.category.displayInInfoBar %}
	<h3 class="category-name">{{ categoryValue.category.name }}</h3>
{% endif %}

{% for optionValue in categoryValue.children %}

	{% if optionValue.option.displayInInfoBar %}
		{% set colWidth = 's6 m5' if categoryValue.category.enableDescription else 's12' %}
	  <div class='row'>
	    <span class="option-value col {{ colWidth }}">

	    	{% set iconClass = optionValue.option.icon if optionValue.option.icon else 'gogo-icon-angle-right' %}	
	    	{% set iconColorId = optionValue.option.id if optionValue.option.icon else '' %}	
				
				<span class="icon {{ iconClass }} colorAs" option-id={{ iconColorId }}></span>
				
	      <span class="option-name {{ optionValue.diff }}" option-id={{ optionValue.option.id }}>
	      {{ optionValue.option.name }}</span> 

	    </span>
	    {% if categoryValue.category.enableDescription %}
	    	<span class="col s6 m7 option-description"><span class="{{ optionValue.diff }}">{{ optionValue.description|safe }}</span></span>
	    {% endif %}
	  </div>
  {% endif %}

  {# Render children #}
  {% if optionValue.option.displayChildrenInInfoBar %}
		{% for subcategory in optionValue.children %}
			{{ renderCategoryValue(subcategory) }}
		{% endfor %} 
	{% endif %}
	
{% endfor %} 

{% if wrapOptionsIntoCategoryContainer %}	
	</div> <!-- div end for category-wrapper -->
{% endif %}

{% endmacro %}