{# -------------- #}
{#  BODY DEFAULT  #}
{# -------------- #}
{{ descriptionMore|gogo_textarea(truncate = 400) }}

{# Categories  #}
{{ taxonomy|gogo_taxonomy }}

{% if address or telephone or email or website or urls %}
  {# Contact infos #}
  {{ 'Informations générales'|gogo_title }}

  {# Address #}
  {{ address|gogo_text }}

  {# Tel #}
  {{ telephone|gogo_tel }}

  {# Mail #}
  {{ email|gogo_email }}

  {# WebSite #}
  {{ website|gogo_url }}

  {% if urls %}
    {% for currentUrl in urls %}
      {{ url.value|gogo_url }}
    {% endfor %}
  {% endif %}

  {{ ''|gogo_separator }}

{% endif %}

{{ tags|gogo_tags}}

{# Open Hours #}
{% if formatedOpenHours|length or openHoursMoreInfos %}
  {{ ''|gogo_separator }}
  {{ "Horaires d'ouverture"|gogo_title }}
  {{ formatedOpenHours|gogo_openhours }}
  {{ openHoursMoreInfos|gogo_text }}
{% endif %}

{# Vidéo #}
{% if vimeoId %}
  {{ ''|gogo_separator }}
  {{ 'Video'|gogo_title }}
  {{ vimeoId|gogo_vimeo }}
{% endif %}

{% for key, value in data %}
  {% if not value|is_object and key not in ['id', 'name', 'description', 'descriptionMore', 'address', 'telephone', 'email', 'website', 'urls', 'tags', 'vimeoId', 'images'] %}
    <h3>{{ key|replace('_', ' ')|capitalize }}</h3>
    {% if value|is_array %}
      {{ value|join(', ') }}
    {% elseif value|is_string %}
      {{ value|gogo_textarea }}
    {% else %}
      {{ value }}
    {% endif %}
  {% endif %}
{% endfor %}



