{# Header Title #}
<div class='collapsible-header-title row'>

  <span class="col s12 name">

  {% set mainIcon = 'gogo-icon-attention' if element.isPending() and config.isFeatureAvailable('pending') else mainOptionToDisplay.option.icon %}
    {# Icon #}
    <span class="element-main-icon icon {{ mainIcon }} colorAs {{pendingClass}} hideOnLargeScreen" option-id={{mainOptionToDisplay.colorOptionId}}></span>
       
    {# Distance and Close Button #}
    <span class="icon gogo-icon-close gogo-h-primary" id="btn-close-bandeau-detail"></span>            

    {# Name #}
    {{ element.getProperty('name')|safe }}
    {% if element.isDeleted() %}</br><u>(Cet élément a été refusé ou supprimé)</u>{% endif %}

    {% if showDistance and element.distance != null %}
      <span class="distance gogo-neutral">~ {{ element.distance if isMapMode else element.distanceFromBoundsCenter }} km</span>
    {% endif %}    

    <span class="location gogo-neutral">
      {% if element.address.postalCode %}<span class="postalCode">{{ element.address.postalCode }}</span>{% endif %}
      {% if element.address.addressLocality %}<span class="city"> {{ element.address.addressLocality }}</span>{% endif %}
    </span>

  </span>
  
</div>

{# Header More #}
<div class='collapsible-header-more row'>

  {# Description #}
  <span class="description col s12">{{ element.getProperty('description')|safe }}</span> 

  {# Categories litteral #}
  <span class="inline-option-values gogo-neutral col s8 hideOnLargeScreen">
    {% for optionValue in allOptionsValues %} 
        {% set isDisabled =   '' if optionValue.isFilledByFilters else 'disabled' %}
        <span class="option-value {{ isDisabled }}">{{ optionValue.option.name|capitalize }} {% if not loop.last %}, {% endif %}</span>            
    {% endfor %}

    {% if not allOptionsValues|length %}
      <span class="option-value">{{ mainOptionToDisplay.option.name|capitalize }}</span>       
    {% endif %}

  </span>      

  {# Toggle Details Buttons #}
  <a><span class="col s4 right-align expandLabel gogo-neutral-dark hideOnLargeScreen bgdSoftColorAs {{'transform-big' if element.images else ''}}" option-id={{mainOptionToDisplay.colorOptionId}}></span></a>

</div> 