.marker-cluster 
{
  div 
  {  
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    color: white;
    box-shadow: 4px -2px 5px 0px rgba(167, 167, 167, 0.56);
  }

  &.halfHidden
  {
    opacity: .6 !important;
  }

  &.marker-cluster-small div
  {
    $size: 34px;
    background-color: rgba(243, 165, 48, 0.88);
    width: $size;
    height: $size;   
    span { line-height: $size; }    
  }

  &.marker-cluster-medium div
  {
    $size: 38px;
    background-color: rgba(235, 123, 45, 0.92);
    width: $size;
    height: $size;   
    span { line-height: $size; }  
  }

  &.marker-cluster-large div
  {
    $size: 44px;
    background-color: rgba(210, 77, 26, 0.88);
    width: $size;
    height: $size;   
    span { line-height: $size; }  
  }
}