a.leaflet-control-zoom-in {
    font-size: 18px !important;
    color: #3d3d3d;
}

a.leaflet-control-zoom-out {
    font-size: 25px! important;
    font-weight: normal;
    color: #3d3d3d;
    text-indent: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-right: 20px;
    margin-top: 20px;
}

.show-as-list-button {
    position: absolute;
    z-index: 500;
    top: 15px;
    left: 100px;
    color: #3d3d3d;
    background-color: #ffffff;
    padding: .5rem 1rem;
    @extend .z-depth-1;

    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;

    // deuxième version
    color: $primary-color;
    font-size: 14px !important;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 2px 3px 1px rgba(0,0,0,.25);
    cursor: pointer;
    text-align: center;
    border: 1px dashed transparent;
    border-color: #a5a5a5;
    border-radius: 5px;

    &:hover{ cursor : pointer; }

    i {
        font-size: 1rem;
        float: left;
        line-height: 1rem;
        padding-top: 3px;
        margin-right: 10px;

        
    }

    &:after{ content:"Liste"}

    @media #{$medium-and-up} 
    {
        left: 30px;
        &:after { content: "Afficher sous forme de liste"}
    }
}

.layers-button
{
    position: absolute;

    &#close-layers-panel 
    { 
        z-index: 10000; 
        background-color: transparent;
        color: #888888;

        &:hover { background-color: transparent; color: #616161; }

        i { font-size: 16px; line-height: 40px;}
    }
    
    z-index: 500;
    top: 100px;
    background-color: white;
    color: #3d3d3d;
    right: 20px;
    width: 33px;
    height: 33px;
    text-align: center;
    
    &:hover{ cursor : pointer; background-color: #f4f4f4;}

    i {
        font-size: 18px;        
        line-height: 35px;       
    }
}

#menu-button
{
	position: absolute;
    left: 1rem;
    text-align: center;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    z-index: 500;
    @extend .z-depth-1;
    color: #555;

    > i
    {
        font-size: 2rem;
        height: 3rem;
        &:before { line-height: 3rem }
    }

    @media #{$medium-and-up} 
    {
        display: none !important;
    }
}

#menu-button:hover {cursor: pointer;}

.leaflet-control-layers-toggle
{
    display:none;
}
.leaflet-control-layers
{
    padding: 0 !important;
    display: none;
    position: relative;
    z-index: 600;
    margin-right: 19px !important;
    margin-top: 15px !important;
}

.leaflet-control-layers-list
{
    display: block !important;
    padding: 5px 15px 10px;
    position: relative !important;

    @extend .custom-scroll-bar-light
}

.leaflet-control-layers-selector:checked + span
{
    font-weight: bold;
}

.leaflet-control-layers-base
{
    label
    {
        text-transform: uppercase;
        padding-top: 4px;
        line-height: 1.4rem;
        border-bottom: 1px dashed #cccccc;

        &:hover
        {
            background-color: #f4f4f4;
            cursor: pointer;
        }

        &:last-child
        {
            border: none;
        }
    }    
}

