.leaflet-marker-container
{
    width: 0px !important;
    height: 0px !important;
    margin: 0 !important;

    &:hover { z-index: 10000000 !important; }  
}

.marker-location-position.leaflet-marker-icon {
    border-radius: 50%;
    border: 1px solid white;
    width: 14px;
    height: 14px;    
}

.marker-popup
{
    position: absolute;
    white-space: nowrap;
    opacity: .9;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 10px;
    bottom: 45px;
    &.BigSize { bottom: 55px; }
    left: -30px;

    p { margin: 0; }
}

.marker-wrapper
{
	position: absolute;	
    z-index: 1;
    height: 40px;
    width: 40px;
    bottom: 0px;
    right: -20px;
    font-size: 40px;
    line-height: 40px;
    opacity: .99; // pour créer un nouveau contexte d'empilement (z-index)

    &.disabled { color: grey !important}    

    // Gestion de la taille si on est en hover
    &.BigSize 
	{
		//opacity: 1;
        z-index: 10000 !important;
	    @include transform( scale(1.3,1.3) );
	    bottom: 5px !important; // pour que l'ancre bottom reste identique

        .iconInsideMarker-wrapper
        {
            @media #{$medium-and-up} { left: 6px !important; }
        }
	}

	&:hover { cursor: pointer; }

    .gogo-icon-marker
    {
        width: inherit;
        height: inherit;
        line-height: inherit;
        color: inherit;

        position: absolute;
        z-index: 1;

        background-image: url(images/marker-shadow.png);
        background-position: 8px;
        background-repeat: no-repeat;
        width: 50px;
    }

    .mini-icon-stamp-container
    {
        position: absolute;
        top: -8px;
        z-index: 3;
        font-size: 14px;
        right: 19px;
        color: #d9dad9;        

        .mini-icon-stamp 
        { 
            float: right; 

            &:before
            {
                border-radius: 50%;
                padding: 1px;
                padding-bottom: 2px;
                background-color: $favorite-color;
                border: 1px solid;
            }

            &.gogo-icon-stamp-2
            {
                font-size: 12px;
                &:before { padding: 2px 1px 2px 2px; }
            }
        }
    }
}



// l'icone qui représente le produit principal
.iconInsideMarker-wrapper
{
	position: relative;
    left: 7px;
    z-index: 2;
    text-align: center;
    width: 26px;
    height: 26px;
    background-color: #DADADA;
    border-radius: 50%;
    top: 4px;
    font-size: 18px;
    line-height: 28px;
}
:-moz-any(.iconInsideMarker-wrapper) {
    top: 3px;
}	
/* 
html[data-useragent*='MSIE 10.0'] .iconInsideMarker-wrapper {
  top: 2px !important;
} */

.iconInsideMarker
{
	line-height: 26px;
    &.disabled {  color: grey !important; }
    &:before { line-height: inherit; }
}

// l'icone pour dire qu'il y a plusieurs produits dans ce fourisseur
.gogo-icon-plus-circle
{
	position: absolute;
    top: -7px;
    z-index: 3;
    font-size: 16px;
    right: -7px;

	&:before
	{
		border-radius: 50%;
    	background-color: #F1F1F1;
	}
}

.gogo-icon-star-full:before
{
    border-radius: 50%;
    padding: 1px;
    padding-bottom: 2px;
    background-color: $favorite-color;
    border: 1px solid;
}

// l'ensemble des autres produits disponibles
.moreIconContainer
{
	display:none;
	z-index: 10;
	position: absolute;
	bottom: -10px;
	left: 30px;

	.moreIconWrapper
	{
		display: inline-block;
	    margin-left: 3px;
	    bottom: 10px;
	    position: absolute;
	    width: 28px;
	    height: 28px;
	    font-size: 16px;
	    line-height: 26px;
	    text-align: center;	    
	    border: 3px solid;
		border-radius: 50%;
        z-index: 10;

        .iconInsideMarker { line-height: 22px; }

        &.disabled { color: grey !important };
    	// TODO rajouter prefix border radius        
	}	
}

.halfHidden
{
	opacity: 0.6;
}

.leaflet-marker-container
{
    &.rotateLeft
    {
        .marker-wrapper { right: -8px; bottom: -6px; }
        .marker-wrapper.BigSize  { right: -4px; bottom: -2px  !important; }
        .gogo-icon-marker { @include transform( rotate(-45deg) ); }
        .iconInsideMarker-wrapper
        {
            left: 6px !important;
            width: 25px;
            height: 25px;
            top: 9px;
        }
        .gogo-icon-plus-circle { top: -7px; right: -7px; }
        .moreIconContainer { left: 30px; }
        .marker-popup { bottom: 43px; left: -50px;}
    }
    &.rotateRight
    {
        .marker-wrapper  { right: -35px; bottom: -6px; }
        .marker-wrapper.BigSize  { right: -39px; bottom: -2px !important; }
        .gogo-icon-marker { @include transform( rotate(45deg) ); }
        .iconInsideMarker-wrapper
        {
            left: 11px !important;
            width: 25px;
            height: 25px;
            top: 1px;
        }
        .gogo-icon-plus-circle { top: -7px; right: -8px; }
        .moreIconContainer { left: 30px }
        .marker-popup { bottom: 53px; left: -10px;}
    }

    &.rotateSoftLeft
    {
        .marker-wrapper { right: -13px; bottom: -1px; }
        .marker-wrapper.BigSize  { right: -10px; bottom: 4px  !important; }
        .gogo-icon-marker { @include transform( rotate(-25deg) ); }
        .iconInsideMarker-wrapper
        {
            right: 6px !important;
            width: 25px;
            height: 25px;
            top: 7px;
            &.font-awesome { 
                left: 5px !important; 
                right: initial;
                top: 6px; 
            }
        }
        .gogo-icon-plus-circle { top: -7px; right: -7px; }
        .moreIconContainer { left: 30px; }
        .marker-popup { bottom: 51px; left: -44px;}
    }
    &.rotateSoftRight
    {
        .marker-wrapper  { right: -30px; bottom: -2px; }
        .marker-wrapper.BigSize  { right: -33px; bottom: 4px !important; }
        .gogo-icon-marker { @include transform( rotate(25deg) ); }
        .iconInsideMarker-wrapper
        {
            left: 9px !important;
            width: 25px;
            height: 25px;
            top: 3px;
            &.font-awesome { left: 8px !important; top: 2px; }
        }
        .gogo-icon-plus-circle { top: -7px; right: -8px; }
        .moreIconContainer { left: 30px }
        .marker-popup { bottom: 56px; left: -10px;}
    }
}