#gogo-controls-mobile {
  .feature-button { margin-right: 0; float: left; }
  #mobile-search-icon {
    border-radius: 8px 0 0 8px;
    margin-right: 2px;
  }
  #mobile-filters-icon {
    border-radius: 0 8px 8px 0;
    img { display: inline-block; }
    &.with-image { i { display: none; } }
  }
  .show-as-list-button, .show-as-map-button {
    border-radius: 8px;
  }
}