#directory-content-list .element-list-header {
  .show-as-map-button {
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px;
    top: 15px;
    padding: 0px 15px;
    background-color: $secondary;
    left: initial !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    right: 20px;

    &:hover { color: white !important; }

    .btn-back {
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
}