.gogo-theme-transiscope.gogocarto-container
{
  #directory-menu { @import "menu"; }

  font-size: 14px;

  @import 'marker';
  @import 'element';
  @import 'map';
  @import 'list';
  @import 'controls';
  
  .custom-scroll-bar-light::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }

  .custom-scroll-bar-light::-webkit-scrollbar {
      width: 13px;
  }

  .custom-scroll-bar-light::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ffffff;
  }

  .custom-scroll-bar::-webkit-scrollbar-track {
    border: none;
  }

  .custom-scroll-bar::-webkit-scrollbar {
    width: 18px;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 0;
  }  

  .btn {
    font-weight: bold;
    box-shadow: none;
    border-radius: none;
    font-size: .9rem;
  }
}