$dark: #175259;
$primary: #3bad78;
$secondary: #f79900;
$light: #f3f6f4;
$disabled: #bcbcbc;

.gogo-theme-transiscope.gogocarto-container
{
  #directory-menu { @import "menu"; }

  @import 'marker';
  @import 'element';
  @import 'map';
  @import 'list';
  
  .custom-scroll-bar-light::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }

  .custom-scroll-bar-light::-webkit-scrollbar {
      width: 13px;
  }

  .custom-scroll-bar-light::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ffffff;
  }

  .custom-scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }

  .custom-scroll-bar::-webkit-scrollbar {
      width: 18px;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ffffff;
  }  

  .btn {
    font-weight: bold;
    box-shadow: none;
    border-radius: none;
    font-size: .9rem;
  }
}