.leaflet-control-zoom-in, .leaflet-control-zoom-out, .feature-button {
  color: $dark;

  &:hover {
    color: $primary;
    background-color: white;
  }
}

.leaflet-control-layers { margin-right: 17px !important}

.gogo-map-control {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 22px;
  padding: 5px 15px;

  background-color: white;
  color: $secondary;
  border: 1px solid #d7d7d7;
  @include box-shadow-1(1px 2px 4px 1px rgba(0, 0, 0, 0.12));

  .gogo-icon-list { color: inherit; }
}

#map-gogo-controls {
  width: 100%;  
}

.leaflet-control-zoom.leaflet-bar.leaflet-control { margin-top: 60px; }

#map-features-buttons {
  @media only screen and (min-width: 601px) { top: 140px; }
}

.show-as-list-button {
  position: absolute;
  right: 20px;
}

.show-directory-menu-button {
  position: absolute;
  left: -20px;
  top: 80px;
  background-color: $dark !important;
  i, .text { display:none; }
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  .arrow-right {    
    margin-bottom: 10px;
    margin-left: 4px;    
  }

  &:hover {
    .arrow-right { border-color: transparent transparent transparent $secondary; }
  }

}