.marker-popup { opacity: 1; }

.moreIconContainer {
  .moreIconWrapper {
    font-size: 14px;
    line-height: 0;
    padding-left: 1px;
    box-shadow: 1px 1px 4px 1px #989898;
  }
}

.marker-cluster 
{
  div { font-size: 15px; }

  &.marker-cluster-small div { background-color: #f8ab00; }
  &.marker-cluster-medium div { background-color: #f78b16; }
  &.marker-cluster-large div { background-color: #f5701e; }

  // we increase font-size, no we need to display bigger cluster for bug numbers
  &.marker-cluster-large.xl div
  {
    $size: 54px;
    width: $size;
    height: $size;   
    span { line-height: $size; }  
  }
}

.marker-wrapper .mini-icon-stamp-container { 
  color: white; 
  .mini-icon-stamp:before { background-color: #f09b00; }
}

.moreIconContainer .moreIconWrapper.disabled {
    border: none;
    padding-top: 3px;
    background-color: #d0c8c8;

    .iconInsideMarker.disabled {
      color: #949494 !important;
    }
}

