.search-bar-with-options-container
{
  padding-bottom: 1.2rem;

  .search-bar-container
  {
    padding-left: .5rem;
    padding-right: 1.4rem;

    .search-icon
    {
      font-size: 1.1rem;
      height: 2.5rem;
      line-height: 2.5rem;

      &:before { line-height: 2.5rem; }

      &.search-bar-icon
      {
        &.loading
        {
          left: 1.4rem;
        }
        left: 2rem;
      }
      &.search-geolocalize { right: 2.8rem; }
    }

    .search-bar
    {
      border-radius: 0;
      height: 2.5rem;
      padding: 0 3rem;
      width: 95%;
    }

    #search-spinner-loader
    {
      top: 10px;
    }
  }
}
