#directory-menu-main-container 
{
  .shadow-bottom { border-top: none; width: calc(100% - 23px); }  

  .directory-menu-header 
  {
    @media (min-width: 850px) { width: calc(100% + 23px); }

    background-color: $dark;
    @media (min-width: 850px) { border-radius: 0 8px 8px 0; }

    .btn-close-menu.large-screen .arrow-left {
      color: $secondary;
    }

    @import 'menu-header';
  }

  @import 'menu-filters';

  
}