#gogo-custom-popup {
  position: absolute;
  bottom: 20px;
  z-index: 500;
  right: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0px 45px 0 30px;
  line-height: 1.5;
  max-width: 400px;
  color: white;
  font-size: .9rem;
  border-radius: 5px;

  #btn-close-custom-popup {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 18px;
    margin: 0;
    top: 14px;
  }
}


