#directory-content-list
{
	display:none;
	position: absolute;
	z-index: 650;
	width: 100%;
	overflow: auto;
	border-left: none;
	height: 100%;

	.show-as-map-button
	{
		float:left;
		z-index: 200;
		// padding-left: 1rem;
    // left: 0;
    height: 100%;
		@media #{$medium-and-up} { left: .5rem; }
		@media #{$large-only} { left: 9rem !important; }	
		text-decoration: underline;
		&:hover { cursor: pointer; }

		.btn-back { color: inherit !important;   height: 2rem;}

		@media (min-width: 850px)
		{
			left: 2rem;
			&:after
			{
				content : "Retour à la carte";
			}
		}		
	}

	.show-directory-menu-button
	{
		position: fixed;
		z-index: 10;		
		bottom: 0;
    left: 0;
    width: 100%;
    @media (min-width: 700px) {
    	float:left;
    	position: relative;
    	margin-right: 2rem;
    	width: auto;
    	top: 4px;
    }
		@media(min-width: 1500px) { position:absolute; top: 5px; left: 5px; bottom: initial; width: auto;}
	}

	.element-list-title-bar
	{
		display:block;
		position: relative;
		width: 100%;
		line-height: 3rem;
	  text-align: right;
    padding: 0 1rem;
    @media (min-width: 900px) { padding-left: 3rem; padding-right: calc(3rem + 20px); }
		@media (min-width: 1500px) {padding-left: 10rem; padding-right: calc(10rem + 20px); }	

		#list-title-shadow-bottom { display:none }
	}	

	ul.collapsible
	{
		position: relative;
		padding-bottom: 100px;

		height: calc(100% - 3rem);
		width: 100%;
		overflow-y: auto;
		margin :0;

		padding-left: 0rem; padding-right: 0rem;
		@media #{$medium2-and-up} { padding-left: 3rem; padding-right: 3rem; }
		@media (min-width: 1500px) {padding-left: 10rem; padding-right: 10rem; }		

		&.custom-scroll-bar::-webkit-scrollbar {
		    width: 14px;
		}
	}

	.element-item
	{
		//.menu-element { display: none; } 
		// .element-main-icon {display:none}
		// .star-names-icons {display:block}
		display: block;
		.gogo-icon-close {display:none}
		.distance{ 
			margin-right: 0;
			margin-left: 6px;
		}
		.location{ 
			display: inline-block;
			float: right;
			margin-left: 1rem;
			.postalCode { font-size: .9rem; }
			.city { }
		}
	}

	.collapsible-header
	{
		border-bottom: 1px solid #abaaaa;
		background-color: white;
	}

	.collapsible.popout > li
	{ 
		margin: 0;
	}

	.collapsible.popout > li.active
	{ 
		margin: 1rem 0; 
	}

	.spinner-loader
	{
		@include order(1000000);
	}
	
}

