/*
* @Author: Sebastian Castro
* @Date:   2017-05-11 11:26:03
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-07-28 10:59:56
*/
.interactive-section
{
	padding: 0 1rem 0 .8rem;
	@media #{$medium-and-up} { padding: 0 1rem 0 1.6rem; }
	position: relative;
	line-height: 3rem;

	.result-message
	{
		text-align: center;
	  font-weight: bold;
	  color: white;
	  line-height: 1.7rem;
    padding: .6rem 0;
	}
}

#directory-content-list
{
	.interactive-section
	{
		display:none;
	}

	.element-item.active
	{
		.interactive-section { display: block;}
	}
}