<div class="show-directory-menu-button gogo-section-primary gogo-map-control" style="display:none">  
  {% if config.images.buttonOpenMenu %}<img src="{{ config.images.buttonOpenMenu }}" />{% endif %}
  <span class="text">{{ 'menu' | i18n }}</span>
  <i class="gogo-icon-angle-right"></i>
  <span class="arrow-right"></span>
</div> 