<style>
  {# LIST #}
  .gogo-load-css .element-list-header .show-as-map-button:hover { color: {{ primary }}; }
  .gogo-load-css #directory-content-list .bottom-gradient {
    background: -moz-linear-gradient(top, {{ contentBgd.setAlpha(0) }} 0%, {{ contentBgd.setAlpha(1) }} 100%);
    background: -webkit-linear-gradient(top, {{ contentBgd.setAlpha(0) }} 0%,{{ contentBgd.setAlpha(1) }} 100%);
    background: linear-gradient(to bottom, {{ contentBgd.setAlpha(0) }}) 0%,{{ contentBgd.setAlpha(1) }} 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ contentBgd.setAlpha(0) }}', endColorstr='{{ contentBgd.setAlpha(1) }}',GradientType=0 );
  }
  .gogo-load-css .title-separator { font-family: {{ titleFont }}, sans-serif;}
  .gogo-load-css .noUi-handle { background-color: {{ textSoft }}; }
</style>