<style>
  .gogo-load-css .search-bar { background-color: {{ contentBgd }} !important; }
  .gogo-load-css .search-bar-autocomplete-results-container { background-color: {{ contentBgd }} !important; }
  .gogo-load-css .search-bar::selection {
    background: {{ searchBar }};
    color: white;
  }
  .gogo-load-css .search-bar::-moz-selection {
    background: {{ searchBar }};
    color: white;
  }
</style>