@import 'search-bar-mobile';
@import 'search-overlay-mobile';
@import 'search-result-header';

.search-bar-with-options-container
{
  padding-bottom: .7rem;

  .search-bar-container
  {
    padding: .7rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    padding-left: .7rem;

    .search-icon
    {
      position: absolute;
      font-size: 1.2rem;
      height: 2rem;
      line-height: 2rem;

      &:before { line-height: 2rem; }
      &:hover { cursor: pointer; }

      &.search-bar-icon { left: 1.2rem; }
      &.search-geolocalize { right: 1.4rem; }
    }

    .search-bar
    {
      font-size: 16px;
      padding: 0 .5rem 0 .5rem;
      box-shadow: none !important;
      margin: 0;
      text-align: left;
      padding-left: 2.2rem;
      font-weight: bold;
      height: 2rem;
      width: 100%;
      border: none !important;
      // let space for geolocalize button
      padding-right: 2.3rem;
      @include border-radius(5px);
      @include box-sizing(border-box);

      @media (min-width: 850px) {
        text-transform: uppercase;
        font-size: .8rem;
      }

      &.invalid
      {
        border-color: $error-color !important;
      }

      &::-webkit-input-placeholder {
        color: #949494;
      }
      &::-moz-placeholder {
        color: #949494;
      }
      &:-ms-input-placeholder {
        color: #949494;
      }
      &:-moz-placeholder {
        color: #949494;
      }
    }

    .search-bar-autocomplete-results-container
    {
      font-size: 16px;
      font-weight: bold;
      @include border-radius(5px);
      max-height: 80vh;
      overflow: auto;

      @media (min-width: 850px) {
        text-transform: uppercase;
        font-size: .8rem;
      }

      li
      {
        padding: .5rem;
        min-height: 40px;
        cursor: pointer;
        @include flexbox;
        @include flex-wrap(wrap);
        @include align(center);
        text-align: left;

        &:hover
        {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &.nested
        {
          padding-left: 3rem;
        }

        .label
        {
          @include flex(1);
        }
        .subLabel
        {
          @include flex(0 1 100%);
          text-align: right;
          padding-top: .3rem;
          font-weight: normal;
        }
      }
    }
  }

  #search-spinner-loader, #geolocate-spinner-loader
  {
    height: 12px;
    width: 12px;
    top: 1px;
    margin-left: 5px;
    .spinner-layer { border-color: #5d5d5d; }
    .circle-clipper .circle { border-width: 2px; }
  }
  #search-spinner-loader {
    height: 18px;
    width: 18px;
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
  }
  #geolocate-spinner-loader {
    height: 18px;
    width: 18px;
    display: none;
    position: absolute;
    top: 7px;
    right: 0;
  }
  .search-bar-icon.loading {
    &:before { content: none; }
    #search-spinner-loader { display: block; }
  }
  .search-geolocalize.loading {
    &:before { content: none; }
    #geolocate-spinner-loader { display: block; }
  }

  .search-no-result
  {
    color: white;
    padding-top: .7rem;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
  }
}
