/*
* @Author: Sebastian Castro
* @Date:   2017-12-26 08:55:41
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2017-12-26 12:25:01
*/

// search bar is moved on top of map for mobiles
#directory-content-map 
{
  .search-bar-with-options-container 
  {
    display:none; 
    z-index: 5000;
    position: relative;
    background-color: white;
    margin: 15px;    
    border-radius: 5px;
    margin-top: 10px;
    @include box-shadow-1(0 2px 6px rgba(0,0,0,0.3));
  }

  .search-bar-container { 
    height: 52px;
    padding: 0;
  }

  .search-bar {
    height: 100%;    
    padding: 0 4rem;
  }

  .search-icon { 
    font-size: 22px;
    line-height: 57px;
    height: 56px;
    width: 56px;

    &.search-bar-icon { left: 3px; }

    &.search-geolocalize {
      right: 5px;
      font-size: 24px !important;
    }
  }  

  .search-results {
    
  }

  .search-bar-icon { left: 3px; }

  .search-geolocalize {
    right: 5px;
    font-size: 24px !important;
  }  

  .search-options { 
    display: block !important;
    padding: 10px 1.5rem 12px 1.5rem;
  }
}

// the control are not taking full width, we hack them to do so
.leaflet-left { right: 0 }
.search-bar-control { width: 100%; margin: 0; }