.search-bar-container
{
  height: 3.5rem;
  padding: .7rem;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
  padding-left: .7rem;  

  .search-icon
  {
    position: absolute;  
    font-size: 1.2rem;
    color: #777;
    height: 2rem;
    line-height: 2rem;

    &:before { line-height: 2rem; }
    &:hover { cursor: pointer; }

    &.search-bar-icon { left: 1.2rem; }
    &.search-geolocalize { right: 1.4rem; }
  }

  .search-bar
  {
    font-size: 16px;
    padding: 0 .5rem 0 .5rem;
    box-shadow: none !important;
    margin: 0;
    text-align: left;
    padding-left: 2.2rem;   
    font-weight: bold; 
    height: 2rem;
    width: 100%;
    border: none !important;
    // let space for geolocalize button
    padding-right: 2.3rem;
    background-color: white;
    @include border-radius(5px);
    @include box-sizing(border-box);

    @media (min-width: 850px) {
      text-transform: uppercase;
      font-size: .8rem;
    }

    &.invalid
    {
      border-color: $error-color !important;
    }

    &::-webkit-input-placeholder { 
      color: #949494;
    }
    &::-moz-placeholder { 
      color: #949494;
    }
    &:-ms-input-placeholder { 
      color: #949494;
    }
    &:-moz-placeholder { 
      color: #949494;
    }
  }
}

.search-options
{
	padding: 0 .7rem;	
  padding-bottom: .7rem;

	label.search-option-radio-label 
	{
    color: #ececec;    
    font-size: .9rem;
    line-height: 2.2rem;
    padding-left: 27px;
    margin-right: 13px;


    &:before
    {
    	border: 2px solid #e0e0e0;
    	top: 3px;
	    width: 14px;
	    height: 14px;
    }

    &:after
    {
    	border: 2px solid #dedede;
  		background-color: #dedede;
  		top: 3px;
	    width: 14px;
	    height: 14px;
    }
	}

	.search-action-btn
	{
		float: right;
		font-size: .85rem;    
    height: 1.8rem;
    line-height: 1.8rem;    
    padding: 0 10px;
	}

	#search-spinner-loader
	{
		height: 12px;
    width: 12px;
    top: 1px;
    margin-left: 5px;
		.spinner-layer { border-color: #5d5d5d; }
		.circle-clipper .circle { border-width: 2px; }
	}
}

// only when search bar is inside directory menu, we change the search button color
#directory-menu-main-container .search-action-btn
{
  background-color: #dddddd;
  color: #272626;
}

#directory-menu.small-width 
{
  .search-options { padding-left: 7px; }
  .search-options label.search-option-radio-label { margin-right: 0}
}

// #search-distance-component
// {
//   margin: 0rem .8rem 0 .8rem;

//   #search-distance-container
//   {
//     display: inline-block;
//     width: calc(100% - 55px);

//     #search-distance-input
//     {
//       border: none;
//     }
//   }

//   #search-distance-value-container
//   {
//     float: right;
//     line-height: 2.3rem;
//     width: 55px;
//     text-align: right;
//   }
// }
