<div id="modal-{% block id %}default{% endblock %}" class="modal gogo-section-content {% block modalClass %}action-modal{% endblock %} custom-scroll-bar">  	
   <div class="modal-content">   	

	  	<div class="specific-content"> 	
	  		{% block content %}
	  		{% endblock %}	
	  	</div>

	  	<div class="generic-error-message error" style="display:none"></div> 

  		<div class="footer">	
			<button type="button"
					onclick="$(this).closest('.modal').closeModal()"  
					class="waves-effect waves-dark btn-flat">
				{% block cancelText %}{{ 'cancel' | i18n }}{% endblock %}
			</button>
			<button type="submit" class="btn btn-primary waves-effect waves-light">
				{% block submitText %}{{ 'send' | i18n }}{% endblock %}
			</button>
			<button class="btn cancel-btn btn-primary waves-effects">
            {% import 'components/spinner-loader.html.njk' as spinnerLoader %}
            {{ spinnerLoader.create('modal-submit-loader') }}
        	</button> 
		</div>

		<div class="loader-overlay"></div>   	
	</div>

</div>