<div id="modal-image" class="modal modal-fixed-footer">
  <div class="modal-content custom-scroll-bar-light">
  	<img src=""/>
  </div>
  <div class="modal-footer gogo-bg-soft-color-as">
    <span class="modal-action modal-close waves-effect waves-light btn-flat">{{'close' | i18n }}</span>
  </div>
</div>

