<div id="modal-real-size-photo" class="modal modal-fixed-footer">
  <div class="modal-content">
  </div>
  <div class="modal-footer bgdSoftColorAs">
    <span class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</span>
  </div>
</div>

