<!-- Pop up message alerte-->
<div id="popup-send-mail" class="modal action-modal">
  <div class="modal-content">
  	<form>

	    <h5 id="modal-title">Envoyer un mail à <span class="elementName"></span></h5> 	 

	    <p id="message-error" class="error">Désolé, une erreur s'est produite</p>   

	    <p id="mail-error" class="error" style="margin-bottom: -15px;">Veuillez renseigner une adresse mail valide</p>
	    <div class="input-field" >
					<input class="input-mail validate" id="send-mail-origin" type="email" placeholder="Votre adresse mail" style="margin-bottom: 0">
			</div>

			<p id="content-error" class="error">Vous devez remplir les champs ci-dessous</p>

			<div class="input-field">
					<input class="input-mail-subject required" type="text" placeholder="Objet du message"/>
			</div>

			<label class="small-label" for="input-mail-value">Contenu du message</label>
			<div class="input-field">
					<textarea class="input-mail-content materialize-textarea required" id="input-mail-value" type="text" placeholder="Tapez votre message ici"></textarea>					
			</div>
			
			<div class="footer">
				<button type="button"
						onclick="$('#popup-send-mail').closeModal()"  
						class="waves-effect waves-teal btn-flat">
					Annuler
				</button>
				
				<button type="submit" class="btn waves-effect waves-light">
						Envoyer
				</button>
			</div>

		</form>	    

  </div>
   
</div>