{% if value %}
  <div class="field field-vimeo">
    <iframe src="https://player.vimeo.com/video/{{ value }}?byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0"></iframe>
  </div>
{% endif %}