{% if value %}
<div class="field field-email">
  {% if value == 'private' %}
    <button class="btn send-mail-btn">{{ 'send.email' | i18n}}</button>
  {% else %}
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    <span class="value">{{ value|safe }}</span>
  {% endif %}
</div>
{% endif %}