{% if value %}
  <div class="field field-phone">
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    <span class="value">{{ formatPhoneNumber(value)|safe }}</span></div>
{% endif %}