{% if value and value|length > 0 %}
  <div class="field field-files files-container">
    {% for fileUrl in value %}
      <div class="gogo-file">
        <a href="{{ fileUrl|add_protocol_if_need }}" target="_blank">{{ fileUrl|name_from_url }}</a>
      </div>
    {% endfor %}
  </div>
{% endif %}