{% macro createcolor(name, value) %}
  .gogo-{{ name }} { color: {{ value }}; }
  .gogo-h-{{ name }}:hover { color: {{ value }} !important; }
  .gogo-h-{{ name }}.hover { color: {{ value }} !important; }
  .gogo-bg-{{ name }} { background-color: {{ value }}; }
  .gogo-h-bg-{{ name }}:hover { background-color: {{ value }} !important; }
  .gogo-border-{{ name }} { border-color: {{ value }}; }
  .gogo-h-border-{{ name }}:hover { border-color: {{ value }} !important; }
{% endmacro %}

<style>

  {# Main colors #}
  {% set neutralDark     = config.colors.neutralDark      | default('#272626') %}  
  {% set neutralSoftDark = config.colors.neutralSoftDark  | default('#717171') %}
  {% set neutral         = config.colors.neutral          | default('#676565') %}
  {% set neutralLight    = config.colors.neutralLight     | default('#eeeeee') %}
  {% set secondary       = config.colors.secondary        | default('#4A7874') %}
  {% set primary         = config.colors.primary          | default('#de5a5f') %}
  {% set background      = config.colors.background       | default('#4A7874') %}

  {% set mainFont  = config.colors.mainFont  | default('Roboto') %}
  {% set titleFont = config.colors.titleFont | default('Roboto') %}

  {# secondary colors #}
  {% set neutralDarkTransparent = config.colors.neutralDarkTransparent  | default('rgba(64,64,64,.88)') %}
  {% set textColor              = config.colors.textColor               | default(neutralDark) %}
  {% set disableColor           = config.colors.disableColor            | default('#828282') %}
  {% set listTitle              = config.colors.listTitle               | default(neutralLight) %}
  {% set listTitleBackBtn       = config.colors.listTitleBackBtn        | default(neutralLight) %}
  {% set listTitleBackground    = config.colors.listTitleBackground     | default(neutralDarkTransparent) %}
  {% set searchBar              = config.colors.searchBar               | default(primary) %}
  {% set interactiveColor       = config.colors.interactiveSection      | default(primary) %}

  {% set taxonomyMainTitleFont  = config.colors.taxonomyMainTitleFont   | default(mainFont) %}

  {# DESIGN #}
  {{ createcolor('neutral-dark', neutralDark) }}
  {{ createcolor('neutral-dark-transparent', neutralDarkTransparent) }}
  {{ createcolor('neutral', neutral) }}
  {{ createcolor('neutral-soft-dark', neutralSoftDark ) }}
  {{ createcolor('neutral-light', neutralLight) }}
  {{ createcolor('primary', primary) }}
  {{ createcolor('secondary', secondary) }}  
  {{ createcolor('background', background) }}
  {{ createcolor('disabled', disableColor) }}

  html
  {
    font-family: {{ mainFont }}, sans-serif;
    color: {{ textColor }};
  }

  h1
  {
    font-family: {{ titleFont }};
  }

  .directory-menu-header { background-color: {{ searchBar }} }

  .element-list-title-bar { color: {{ listTitle }}; background-color: {{ listTitleBackground }} }
  .element-list-title-bar .show-as-map-button       { color: {{ listTitleBackBtn }}; }
  .element-list-title-bar .show-as-map-button:hover { color: {{ primary }}; }

  .gogo-font-title { font-family: {{ titleFont }}, sans-serif;}
  .sub-categorie-main-title { font-family: {{ taxonomyMainTitleFont }}, sans-serif; }

  .collapsible-header:hover .expandLabel { color: {{ primary }}; }

  .interactive-section { background-color: {{ interactiveColor }}; }

  #search-bar::selection {
      background: {{ searchBar }}; 
      color: white;
  }
  #search-bar::-moz-selection {
      background: {{ searchBar }}; 
      color: white;
  }
  
  #main-option-all .gogo-icon-name-wrapper:hover:after { color: {{ primary }}; }
  
  .subcategorie-option-item:hover          .subcategorie-option-checkbox + label:before { color: {{ primary }}; border-color: {{ primary }} }  
  .subcategorie-option-item:not(.expanded) .gogo-icon-name-wrapper       .arrow-after { border-color: {{ neutralDark }} transparent transparent transparent; }
  .subcategorie-option-item:not(.expanded) .gogo-icon-name-wrapper:hover .arrow-after { border-color: {{ primary }} transparent transparent transparent !important; }
  .subcategorie-option-item.expanded       .gogo-icon-name-wrapper       .arrow-after { border-color:  transparent transparent {{ neutralDark }} transparent; }
  .subcategorie-option-item.expanded       .gogo-icon-name-wrapper:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; }
  
  .subcategorie-option-item.disabled:not(:hover) { color: {{ disableColor }}; }
  .subcategorie-option-item.disabled .subcategorie-option-checkbox + label:before { border-color: {{ disableColor }}; }
  .subcategorie-option-item.disabled:not(:hover) .icon { color: {{ disableColor }}; }
  .subcategorie-option-item.disabled:not(:hover) .arrow-after { border-color: {{ disableColor }} transparent transparent transparent !important;}

  .subcategorie-option-item.expanded.disabled .gogo-icon-name-wrapper .arrow-after { border-color:  transparent transparent {{ disableColor }} transparent !important; }
  .subcategorie-option-item.expanded.disabled .gogo-icon-name-wrapper:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; }

  .subcategory-item                .name-wrapper:hover { color: {{ primary }}; }
  .subcategory-item:not(.expanded) .name-wrapper       .arrow-after { border-color: {{ neutralDark }} transparent transparent  transparent; }
  .subcategory-item:not(.expanded) .name-wrapper:hover .arrow-after { border-color: {{ primary }} transparent transparent  transparent !important; }
  .subcategory-item.expanded       .name-wrapper       .arrow-after { border-color:  transparent transparent {{ neutralDark }} transparent; }
  .subcategory-item.expanded       .name-wrapper:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; }

  .subcategory-item.disabled { color: {{ disableColor }}; }
  .subcategory-item.disabled .subcategorie-checkbox + label:after { border-color: {{ disableColor }} !important; }
  .subcategory-item.disabled .icon { color: {{ disableColor }}; }
  .subcategory-item.disabled .name-wrapper .arrow-after { border-color: {{ disableColor }} transparent transparent transparent ;}
  .subcategory-item.disabled.expanded .name-wrapper .arrow-after { border-color:  transparent transparent {{ disableColor }} transparent ;}

  .subcategory-item .checkbox-wrapper .checkbox-container .subcategorie-checkbox + label:after { color: {{ neutralSoftDark }}; background-color: {{ neutralSoftDark }} }

  a { color: {{ primary }}; }

  .btn
  {
    color: #fff;
    background-color: {{ primary }};
  }

  .btn:hover { background-color: {{ primary }}; }  
  .btn:focus { background-color: {{ primary }}; }  

  .backdrop { background-color: {{ neutralDarkTransparent }}; } // tooltip
      

  {# TAXONOMY #}
	.bgdSoftColorAs { background-color: #484848 }
  .borderSoftColorAs { border-color: #484848 }
  .bgdColorAs { background-color: #484848 }
  .colorAs { color:#484848 }  

  {% for option in optionList %} 
     {% if option.icon or option.color %}
      {# if no softColor, softcolor equals color #}
      {% set softColor = option.softColor if option.softColor else option.color %}
	    .bgdSoftColorAs[option-id="{{ option.id }}"] { background-color: {{ softColor }} }
	    .borderSoftColorAs[option-id="{{ option.id }}"] { border-color: {{ softColor }} }
	    .bgdColorAs[option-id="{{ option.id }}"] { background-color: {{ option.color }} }
	    .colorAs[option-id="{{ option.id }}"] { color: {{ option.color }} }
    {% endif %}
  {% endfor %} 

  .bgdSoftColorAs.pending { background-color: #616161 }
  .borderSoftColorAs.pending { border-color: #616161 }
  .bgdColorAs.pending { background-color: #484848 }
  .colorAs.pending { color:#484848 }

  

</style>

