{% macro createcolor(name, value) %}
  .gogo-{{ name }} { color: {{ value }}; }
  .gogo-h-{{ name }}:hover { color: {{ value }} !important; }
  .gogo-h-{{ name }}.hover { color: {{ value }} !important; }
  .gogo-bg-{{ name }} { background-color: {{ value }} !important; }
  .gogo-h-bg-{{ name }}:hover { background-color: {{ value }} !important; }
  .gogo-border-{{ name }} { border-color: {{ value }}; }
  .gogo-h-border-{{ name }}:hover { border-color: {{ value }} !important; }
{% endmacro %}

<style>

  {# Main colors #}
  {% set neutralDark     = config.colors.neutralDark      | default('#272626') %}  
  {% set neutralSoftDark = config.colors.neutralSoftDark  | default('#717171') %}
  {% set neutral         = config.colors.neutral          | default('#676565') %}
  {% set neutralLight    = config.colors.neutralLight     | default('#eeeeee') %}
  {% set secondary       = config.colors.secondary        | default('#4A7874') %}
  {% set primary         = config.colors.primary          | default('#de5a5f') %}
  {% set background      = config.colors.background       | default('#4A7874') %}

  {% set mainFont  = config.colors.mainFont  | default('Roboto') %}
  {% set titleFont = config.colors.titleFont | default('Roboto') %}

  {# secondary colors #}
  {% set neutralDarkTransparent = config.colors.neutralDarkTransparent  | default('rgba(64,64,64,.88)') %}
  {% set textColor              = config.colors.textColor               | default(neutralDark) %}
  {% set disableColor           = config.colors.disableColor            | default('#828282') %}
  {% set listTitle              = config.colors.listTitle               | default(neutralLight) %}
  {% set listTitleBackBtn       = config.colors.listTitleBackBtn        | default(neutralLight) %}
  {% set listTitleBackground    = config.colors.listTitleBackground     | default(neutralDarkTransparent) %}
  {% set searchBar              = config.colors.searchBar               | default(primary) %}
  {% set interactiveColor       = config.colors.interactiveSection      | default(primary) %}

  {% set taxonomyMainTitleFont  = config.colors.taxonomyMainTitleFont   | default(mainFont) %}

  {# DESIGN #}
  {{ createcolor('neutral-dark', neutralDark) }}
  {{ createcolor('neutral-dark-transparent', neutralDarkTransparent) }}
  {{ createcolor('neutral', neutral) }}
  {{ createcolor('neutral-soft-dark', neutralSoftDark ) }}
  {{ createcolor('neutral-light', neutralLight) }}
  {{ createcolor('primary', primary) }}
  {{ createcolor('secondary', secondary) }}  
  {{ createcolor('background', background) }}
  {{ createcolor('disabled', disableColor) }}

  .gogo-load-css 
  {
    font-family: {{ mainFont }}, sans-serif;
    color: {{ textColor }};
  }

  .gogo-load-css h1
  {
    font-family: {{ titleFont }};
  }

  .gogo-load-css .directory-menu-header { background-color: {{ searchBar }} }

  .gogo-load-css .element-list-header { color: {{ listTitle }}; background-color: {{ listTitleBackground }} }
  .gogo-load-css .element-list-header .show-as-map-button       { color: {{ listTitleBackBtn }}; }
  .gogo-load-css .element-list-header .show-as-map-button:hover { color: {{ primary }}; }

  .gogo-load-css .gogo-font-title { font-family: {{ titleFont }}, sans-serif;}
  .gogo-load-css .sub-categorie-main-title { font-family: {{ taxonomyMainTitleFont }}, sans-serif; }

  @media (max-width: 700px) {
    .gogo-load-css .collapsible-header .expandLabel { color: {{ primary }}; }
  }
  .gogo-load-css .collapsible-header:hover .expandLabel { color: {{ primary }}; }

  .gogo-load-css .interactive-section { background-color: {{ interactiveColor }}; }

  .gogo-load-css .search-bar::selection {
      background: {{ searchBar }}; 
      color: white;
  }
  .gogo-load-css .search-bar::-moz-selection {
      background: {{ searchBar }}; 
      color: white;
  }

  .gogo-load-css .search-bar-with-options-container.mobile .search-options label.search-option-radio-label { color: {{ neutralDark }}; }
  .gogo-load-css .search-bar-with-options-container.mobile .search-options label.search-option-radio-label:before{ border-color: {{ neutral }}; }
  .gogo-load-css .search-bar-with-options-container.mobile .search-options label.search-option-radio-label:after { 
    border-color: {{ neutral }}; 
    background-color: {{ neutral }}; 
  }
  
  .gogo-load-css .sub-categories.with-left-border { border-left: 12px solid {{ neutralDark }}; }
  .gogo-load-css #main-option-all.show-one-pane-per-main-option .gogo-icon-name-wrapper:hover:after { color: {{ primary }}; }
  
  .gogo-load-css .subcategorie-option-item:hover          .subcategorie-option-checkbox + label:before { color: {{ primary }}; border-color: {{ primary }} }  
  .gogo-load-css .subcategorie-option-item:not(.expanded) .option-name       .arrow-after { border-color: {{ neutral }} transparent transparent transparent; opacity: 0.6; }
  .gogo-load-css .subcategorie-option-item:not(.expanded) .option-name:hover .arrow-after { border-color: {{ primary }} transparent transparent transparent !important; opacity: 1; }
  .gogo-load-css .subcategorie-option-item.expanded       .option-name       .arrow-after { border-color:  transparent transparent {{ neutral }} transparent; opacity: 0.6; }
  .gogo-load-css .subcategorie-option-item.expanded       .option-name:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; opacity: 1; }
  
  .gogo-load-css .subcategorie-option-item.disabled:not(:hover) { color: {{ disableColor }}; }
  .gogo-load-css .subcategorie-option-item.disabled .subcategorie-option-checkbox + label:before { border-color: {{ disableColor }}; }
  .gogo-load-css .subcategorie-option-item.disabled:not(:hover) .icon { color: {{ disableColor }}; opacity: .7;}
  .gogo-load-css .subcategorie-option-item.disabled:not(:hover) .arrow-after { border-color: {{ disableColor }} transparent transparent transparent !important;}

  .gogo-load-css .subcategorie-option-item.expanded.disabled .option-name .arrow-after { border-color:  transparent transparent {{ disableColor }} transparent !important; }
  .gogo-load-css .subcategorie-option-item.expanded.disabled .option-name:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; }

  .gogo-load-css .subcategory-item                .name-wrapper:hover { color: {{ primary }}; }
  .gogo-load-css .subcategory-item:not(.expanded) .name-wrapper       .arrow-after { border-color: {{ neutral }} transparent transparent  transparent; opacity: 0.6; }
  .gogo-load-css .subcategory-item:not(.expanded) .name-wrapper:hover .arrow-after { border-color: {{ primary }} transparent transparent  transparent !important; opacity: 1; }
  .gogo-load-css .subcategory-item.expanded       .name-wrapper       .arrow-after { border-color:  transparent transparent {{ neutral }} transparent; opacity: 0.6;}
  .gogo-load-css .subcategory-item.expanded       .name-wrapper:hover .arrow-after { border-color:  transparent transparent {{ primary }} transparent !important; opacity: 1; }

  .gogo-load-css .subcategory-item.disabled { color: {{ disableColor }}; }
  .gogo-load-css .subcategory-item.disabled .subcategorie-checkbox + label:after { border-color: {{ disableColor }} !important; }
  .gogo-load-css .subcategory-item.disabled .icon { color: {{ disableColor }}; }
  .gogo-load-css .subcategory-item.disabled .name-wrapper .arrow-after { border-color: {{ disableColor }} transparent transparent transparent !important; }
  .gogo-load-css .subcategory-item.disabled.expanded .name-wrapper .arrow-after { border-color:  transparent transparent {{ disableColor }} transparent !important;}

  .gogo-load-css .subcategory-item .checkbox-wrapper .checkbox-container .subcategorie-checkbox + label:after { color: {{ neutralSoftDark }}; background-color: {{ neutralSoftDark }} }

  .gogo-load-css a { color: {{ primary }}; }

  .gogo-load-css .btn
  {
    color: #fff;
    background-color: {{ primary }};
  }

  .gogo-load-css .btn:hover { background-color: {{ primary }}; }  
  .gogo-load-css .btn:focus { background-color: {{ primary }}; }  

  .backdrop { background-color: {{ neutralDarkTransparent }}; } // tooltip
  .toast { background-color: {{ neutralDarkTransparent }} !important; }

  .gogo-load-css .feature-button.primary { color: white; background-color: {{ primary }}; }
  .gogo-load-css .feature-button.soft-primary { color: {{ primary }}; }
  .gogo-load-css .feature-button.neutral { color: white; background-color: {{ neutral }} !important; }

  {# TAXONOMY #}
	.gogo-load-css .bgdSoftColorAs { background-color: #484848 }
  .gogo-load-css .borderSoftColorAs { border-color: #484848 }
  .gogo-load-css .bgdColorAs { background-color: #484848 }
  .gogo-load-css .colorAs { color:#484848 }  

  {% for option in optionList %} 
     {% if option.icon or option.color %}
      {# if no softColor, softcolor equals color #}
      {% set softColor = option.softColor if option.softColor else option.color %}
	    .gogo-load-css .bgdSoftColorAs[option-id="{{ option.id }}"] { background-color: {{ softColor }} }
	    .gogo-load-css .borderSoftColorAs[option-id="{{ option.id }}"] { border-color: {{ softColor }} }
      .gogo-load-css .borderColorAs[option-id="{{ option.id }}"] { border-color: {{ option.color }} }
	    .gogo-load-css .bgdColorAs[option-id="{{ option.id }}"] { background-color: {{ option.color }} }
	    .gogo-load-css .colorAs[option-id="{{ option.id }}"] { color: {{ option.color }} }
    {% endif %}
  {% endfor %} 

  .gogo-load-css .bgdSoftColorAs.pending { background-color: #616161 }
  .gogo-load-css .borderSoftColorAs.pending { border-color: #616161 }
  .gogo-load-css .bgdColorAs.pending { background-color: #484848 }
  .gogo-load-css .colorAs.pending { color:#484848 }
  
  .gogo-load-css .tabs.info-bar-tabs {
    background-color: {{ neutralDarkTransparent }};
  }
  .gogo-load-css .tabs.info-bar-tabs .indicator {
    bottom: 0;
    top: initial;
    background-color: {{ neutral }};
  }
</style>

