<div class="gogocarto-container">

  {# Menu #}
  <section id="directory-menu" class="gogo-bg-neutral-dark" style="display:none"> 
     {% include 'components/directory-menu/directory-menu.html.njk' %} 
  </section>
   
  {# The directory, map or list displaying, and element information bar #} 
  <section id="directory-content">
    
    {% if config.isFeatureActivated('report') %}
      {% include 'modals/report-error-for-element.html.njk' %} 
    {% endif %} 

    {% if config.isFeatureActivated('delete') %}
      {% include 'modals/delete-element.html.njk' %}  

    {% endif %}  
    {% if config.isFeatureActivated('directions') %}
      {% include 'modals/pick-address-for-directions.html.njk'  %}  

    {% endif %}  
    {% if config.isFeatureActivated('share') %} 
      {% include 'modals/share-element-url.html.njk'  %}  

    {% endif %} 
    {% if config.isFeatureActivated('export') %}
      {% include 'modals/export-iframe.html.njk' %} 
    {% endif %} 

    {% if config.isFeatureActivated('vote') %}
      {% include 'modals/vote-for-pending-element.html.njk'  %}
      {% include 'modals/contribution-information.html.njk'  %}      
    {% endif %}

    {% if config.security.hideMailsByShowingSendMailButton %}
      {% include 'modals/send-mail-to-element.html.njk'  %}    
    {% endif %}

    {% import 'components/spinner-loader.html.njk' as spinnerLoader%}
    {{ spinnerLoader.create('directory-spinner-loader') }}    
    
    <div id="directory-content-map" style="display:none"> 

      <div id="directory-loading" style="display:none">
        Chargement...
      </div> 

      <div id="map-gogo-controls">
        <div id="show-directory-menu-button" class="gogo-bg-primary gogo-map-control" style="display:none">  
          <span class="text">Menu</span>
          <i class="gogo-icon-angle-right"></i>
        </div> 
        
        <div class="show-as-list-button gogo-map-control gogo-primary"><i class="gogo-icon-list"></i></div>  
      </div>
      
      {% if config.isFeatureActivated('layers') %}
        <div id="change-layers" class="layers-button leaflet-bar" data-tooltip="Changer le fond de carte" data-position="left" data-delay="300">
          <i class="gogo-icon-layers"></i>
        </div> 
        <div id="close-layers-panel" class="layers-button" style="display:none"><i class="gogo-icon-close"></i></div>
      {% endif %}
      
      {% if config.isFeatureActivated('export') %}
        <div id="export-iframe-btn" class="layers-button leaflet-bar" data-tooltip="Exporter une iframe" data-position="left" data-delay="300">
          <i class="gogo-icon-share-alt"></i>
        </div> 
      {% endif %}
      
    </div>       

    <div id="directory-content-list" class="gogo-bg-background" style="display:none">
      <div class="element-list-title-bar gogo-list-title gogo-bg-list-title-background">
        Résultats
        <span class="element-list-title-number-results"></span>
        <span class="element-list-title-text"></span>        
        <span class="show-as-map-button gogo-neutral-dark gogo-h-primary"> <span class="icon btn-back gogo-icon-material-design-icons-1"></span></span>
        <div class='shadow-bottom' id="list-title-shadow-bottom"></div>
      </div>
      <ul class="collapsible popout custom-scroll-bar" data-collapsible="accordion">
        <div class="spinner-loader"><center>{{ spinnerLoader.create('directory-list-spinner-loader') }}</center></div>
      </ul>
    </div>

    {# section conntaining information one a specific element #}
    <section id="element-info-bar" class="custom-scroll-bar inside-normal-mode" style="display:none">  
      
      <div id="info-bar-overlay">{{ spinnerLoader.create('info-bar-spinner-loader') }}</div>
      {# container to receive the element-info-bar template, dynamically created #}
      <div id="element-info"></div>

    </section>

    {# overlay to partially mask the directory-content when openning menu in small screens #}
    <div id="overlay"></div>
  </section>  

</div>