<div class="gogocarto-container">

  {% include 'modals/report-error-for-element.html.njk' %}  

  {# Menu #}
  <section id="directory-menu"> 
     {% include 'components/directory-menu/directory-menu.html.njk' %} 
  </section>
   
  {# The directory, map or list displaying, and element information bar #} 
  <section id="directory-content">
    
    {% include 'modals/too-many-markers.html.njk'  %}
    {% include 'modals/pick-address-for-directions.html.njk'  %}  
    {% include 'modals/share-element-url.html.njk'  %} 
    {% include 'modals/vote-for-pending-element.html.njk'  %}

    {% import 'components/spinner-loader.html.njk' as spinnerLoader%}
    {{ spinnerLoader.create('directory-spinner-loader') }}
    
    <div id="directory-content-map" style="display:none"> 
      <div id="directory-loading" style="display:none">
        Chargement...
      </div>   
      <div class="show-as-list-button"><i class="icon-list"></i></div>  
      
      <div id="change-layers" class="layers-button leaflet-bar"><i class="icon-layers"></i></div> 
      <div id="close-layers-panel" class="layers-button" style="display:none"><i class="icon-close"></i></div> 
      {# button for openning menu in small screens #}
      <div id="menu-button"><i class='icon-menu'></i></div> 
    </div>       

    <div id="directory-content-list" style="display:none">
      <div class="element-list-title-bar">
        Résultats
        <span class="element-list-title-number-results"></span>
        <span class="element-list-title-text"></span>        
        <span class="show-as-map-button"> <span class="icon btn-back icon-material-design-icons-1"></span></span>
        <div class='shadow-bottom'></div>
      </div>
      <ul class="collapsible popout custom-scroll-bar" data-collapsible="accordion">
        <div class="spinner-loader"><center>{{ spinnerLoader.create('directory-list-spinner-loader') }}</center></div>
      </ul>
    </div>

    {# section conntaining information one a specific element #}
    <section id="element-info-bar" class="custom-scroll-bar inside-normal-mode" style="display:none">  
      
      <div id="info-bar-overlay">{{ spinnerLoader.create('info-bar-spinner-loader') }}</div>
      {# container to receive the element-info-bar template, dynamically created #}
      <div id="element-info"></div>

    </section>

    {# overlay to partially mask the directory-content when openning menu in small screens #}
    <div id="overlay"></div>
  </section>  

</div>