<section id="element-info-bar" class="custom-scroll-bar inside-normal-mode display-bottom" style="display:none">  
   
  <div id="info-bar-overlay">{{ spinnerLoader.create('info-bar-spinner-loader') }}</div>
  {# container to receive the element-info-bar template, dynamically created #}
  <div id="element-info"></div>

</section>  