<div class="marker-name bgdColorAs {{pendingClass}}" option-id={{mainOptionToDisplay.colorOptionId}} style="display:none">{{ element.name | capitalize }}</div>

<div class="marker-wrapper colorAs {{pendingClass}}" option-id="{{mainOptionToDisplay.colorOptionId}}" id="marker-{{ element.id }}">

	<div class="rotate animate gogo-icon-marker"></div>
	
	<div class="iconInsideMarker-wrapper rotate">
		{% set mainIcon = 'gogo-icon-attention' if showPending else mainOptionToDisplay.option.icon %}
		<div class="iconInsideMarker colorAs {{pendingClass}} {{ 'disabled' if not mainOptionToDisplay.isFilledByFilters }} {{mainIcon}}" 
		option-id={{ mainOptionToDisplay.optionId if mainOptionToDisplay.option.color else mainOptionToDisplay.colorOptionId }}>
	</div>

	{% set nbreOthersOptions = otherOptionsToDisplay.length %}	

	{% if nbreOthersOptions > 0 and showMoreIcon and not showPending %}

		{% set widthMoreOption = nbreOthersOptions * 39 + 5  %}   	

    	<div class="gogo-icon-plus-circle animate rotate"></div>

    	<div class="moreIconContainer animate rotate" 
    		  style="width:{{ widthMoreOption }}px">
    	
			{% for otherOptionValue in otherOptionsToDisplay %}

				{% set disableOption = 'disabled' if not otherOptionValue.isFilledByFilters %}

				<div class="moreIconWrapper {{ disableOption }} {{ 'colorAs' if otherOptionValue.colorOptionId }} {{pendingClass}}" style="left:{{ 32 * loop.index0 }}px"
						option-id={{ otherOptionValue.colorOptionId }}>
					<span class="moreIcon iconInsideMarker {{ disableOption }} {{ otherOptionValue.option.icon }} colorAs {{pendingClass}}" 
						option-id={{ otherOptionValue.optionId if otherOptionValue.option.color else otherOptionValue.colorOptionId }}>
					</span>
			 	</div>

			 {% endfor %}

		</div>

	{% endif %}

	{% if element.isFavorite %}
		<div class="gogo-icon-star-full animate rotate"></div>
	{% endif %}

</div>