<style>
  /* ELEMENT */
  .gogo-load-css .gogo-theme-flat.gogocarto-container #directory-content-list .element-item .collapsible-body-main-content,
  .gogo-load-css .gogo-theme-flat.gogocarto-container #element-info-bar.display-aside .element-item .collapsible-body-main-content,
  .gogo-load-css .gogo-theme-flat.gogocarto-container #element-info-bar.display-aside .element-item .collapsible-body {
    background-color: {{ contentBgd }} ;
  }
  .gogo-load-css .gogo-theme-flat.gogocarto-container .element-item .info-bar-divider {
    background-color: {{ background }};
  }


  /* MODALS*/
  .gogo-load-css .modal .modal-footer {
    background-color: {{ background }} !important;
    color: {{ text }};
  }
</style>