<style>
.gogo-theme-presdecheznous .directory-menu-header .search-icon.search-geolocalize { color: {{ textSoft }}; }  
.gogo-theme-presdecheznous .directory-menu-header .search-icon.search-bar-icon { background-color: {{ text }}; }
</style>