{% set here = here ~ 'admin/' %}

{% set labelClass = 'label-danger' %}

<ul class="contributions">
  {% for item in element.contributions %}
    {% if item.type ==  3 %}           
        <li><div class="contribution-header">
          {% import here ~ "vote-report-item.html.njk" as VoteReportRenderer %}
          {{ VoteReportRenderer.render(item, true, smallWidth) }}
        </div></li>         
    {% else %}
      {#<div >#}
      <li>
        {% include here ~ "contribution-item.html.njk" %}
      </li>
    {% endif %}
  {% endfor %}   
</ul>


