{% if element.isPending and element.pendingContribution %}
  <div class="pending-contribution">
    {% set item = element.pendingContribution %}
    {% include here ~ "admin/contribution-item.html.njk" %}
  </div>
  <div class="info-bar-divider"></div>
{% endif %}