<div class="element-list-header gogo-list-title gogo-bg-list-title-background">  

  {% include 'components/buttons/show-directory-menu-button.html.njk' %}
        
  <span class="show-as-map-button gogo-neutral-dark gogo-h-primary"> <span class="icon btn-back gogo-icon-material-design-icons-1"></span></span>

  <div class="title-text" style="display:none">
    Résultats
    <span class="element-list-title-number-results"></span>
    <span class="element-list-title-text"></span>
  </div> 

  <div class='shadow-bottom' id="list-title-shadow-bottom"></div>   
</div>

<div class="elements-container custom-scroll-bar">
  <ul class="collapsible popout" data-collapsible="accordion"></ul>
  <div class="bottom-gradient hide-on-med-and-up"></div>
  <div class="spinner-loader"><center>{{ spinnerLoader.create('directory-list-spinner-loader') }}</center></div>
  <div class="no-result-message" style="display:none">
    <b>Aucun résultat trouvé</b></br>
    <i>« L’échec est le fondement de la réussite. »</i> </br>
    <span style="font-size:.9em">Lao-Tseu</span></br>
    <img data-src="https://media.giphy.com/media/ozXTrqRgqFcly/giphy.gif" />
  </div>
</div>