<!-- Pop up message alerte-->
<div id="modal-vote" class="modal action-modal custom-scroll-bar">
  
  <div class="modal-content">  

  	<div id="vote-modal-content"> 	
  		{# content dynamicaly created #}		
  	</div>

  	<div class="footer">	
			<button type="button"
					onclick="$('#modal-vote').closeModal()"  
					class="waves-effect waves-teal btn-flat">
				Annuler
			</button>
			<button type="button" 
					id="submit-vote"				
					class="btn btn-primary waves-effect waves-light">
				Voter
			</button>
		</div>

	</div>

</div>