<div class="interactive-section"> 
  {% if element.isPending() %}
  <div class="vote-section">
    <span class="basic-message">
      <span class="gogo-icon-attention"></span>
      <span class="text validation-process-info" onclick='$("#modal-contribution").openModal()'>{{ 'Nouvel ' ~ config.text.element if element.status == ElementStatus.PendingAdd else 'Modifications' }} 
                         en cours de validation</span>
      {% if config.isFeatureActivated('vote') %}
        <span class="btn-vote-more-info validation-process-info" onclick='$("#modal-contribution").openModal()'>EN SAVOIR PLUS</span>
        <span class="vote-button btn btn-vote waves-effect waves-light">{{ 'Décider' if config.isFeatureAvailable('directModeration') else 'Voter' }}</span>
        {% endif %}
    </span>        
  </div>
  {% endif %}
  <div class="result-message" style="display:none"></div>
</div>