{# -------------- #}
{#  ELEMENT INFO  #}
{# -------------- #}
<li id="element-info-{{ element.id }}" 
    class="element-item" 
    data-element-id="{{ element.id }}">

  {% set pendingClass = 'pending' if (element.isPending() or element.isDeleted()) and config.isFeatureAvailable('pending') else '' %}
  {# HEADER #}
  <div class="collapsible-header bgdSoftColorAs {{pendingClass}}" option-id={{mainOptionValueToDisplay.colorOptionId}}>
    
    {# Header Title #}
    <div class='collapsible-header-title row'>

      <span class="col s12 name">

      {% set mainIcon = 'gogo-icon-attention' if element.isPending() and config.isFeatureAvailable('pending') else mainOptionValueToDisplay.option.icon %}
        {# Icons #}
        <span class="element-main-icon icon {{ mainIcon }} colorAs {{pendingClass}} hideOnLargeScreen" option-id={{mainOptionValueToDisplay.colorOptionId}}></span>
        <span class="star-names-icons">
          {% for starName in starNames %} 
              <span class="icon gogo-icon-{{starName}}"></span>
            {% endfor %}
        </span>   
           
        {# Distance and Close Button #}
        <span class="icon gogo-icon-close gogo-h-primary" id="btn-close-bandeau-detail"></span>            

        {# Name #}
        {{ element.getProperty('name')|safe }}
        {% if element.isDeleted() %}</br><u>(En cours de suppression)</u>{% endif %}

        {% if showDistance and element.distance != null %}
          <span class="distance gogo-neutral">~ {{ element.distance if isMapMode else element.distanceFromBoundsCenter }} km</span>
        {% endif %}    

        <span class="location gogo-neutral">
          {% if element.postalCode %}<span class="postalCode">{{ element.postalCode }}</span>{% endif %}
          {% if element.addressLocality %}<span class="city"> {{ element.addressLocality }}</span>{% endif %}
        </span>
 
      </span>
      
    </div>

    {# Header More #}
    <div class='collapsible-header-more row'>

      {# Description #}
      <span class="description col s12">{{ element.getProperty('description')|safe }}</span> 

      {# Categories litteral #}
      <span class="inline-option-values gogo-neutral col s8 hideOnLargeScreen">

        {% for optionValue in allOptionsValues %} 
            {% set isDisabled =   '' if optionValue.isFilledByFilters else 'disabled' %}
            <span class="option-value {{ isDisabled }}">{{ optionValue.option.name|capitalize }} {% if not loop.last %}, {% endif %}</span>            
        {% endfor %}

      </span>      

      {# Select as Representant (constellation mode) #}
      <span class="col s4 right-align btn-select-as-representant-container" style="display:none">
        <button class="btn btn-select-as-representant waves-effect waves-light" >Sélectionner</button> 
      </span>

      {# Representant Label(constellation mode) #}
      <span class="col s4 right-align starRespresentantLabel" style="display:none">Element principal</span>

      {# Toggle Details Buttons #}
      <a><span class="col s4 right-align expandLabel gogo-neutral-dark hideOnLargeScreen"></span></a>

    </div>    

  </div>

  {# INTERACTIVE SECTION #}
  <div class="interactive-section"> 
      {% if element.isPending() %}
      <div class="vote-section">
        <span class="basic-message">
          <span class="gogo-icon-attention"></span>
          <span class="text">{{ 'Nouvel ' ~ config.text.element if element.status == ElementStatus.PendingAdd else 'Modifications' }} 
                             en cours de validation</span>
          {% if config.isFeatureActivated('vote') %}
            <span class="btn-vote-more-info validation-process-info" onclick='$("#modal-contribution").openModal()'>EN SAVOIR PLUS</span>
            <span class="vote-button btn btn-vote waves-effect waves-light">{{ 'Décider' if config.isFeatureAvailable('directModeration') else 'Voter' }}</span>
            {% endif %}
        </span>        
      </div>
      {% endif %}
      <div class="result-message" style="display:none"></div>
  </div>

  {# MENU #}
  <div class="menu-element bgdSoftColorAs {{pendingClass}}" option-id={{mainOptionValueToDisplay.colorOptionId}}>  
    
    {% if config.isFeatureAvailable('favorite') %} 
      <div class="menu-element-item item-add-favorite" style="display:none">
        <span class="menu-icon gogo-icon-star-empty gogo-icon-favorite tooltipped" 
        data-position="top" data-delay="0" data-tooltip="Enregistrer comme favoris"></span>
        <span class="menu-element-item-text">Enregistrer</span>
      </div>
      <div class="menu-element-item item-remove-favorite" style="display:none">
        <span class="menu-icon gogo-icon-star-full gogo-icon-favorite tooltipped"
        data-position="top" data-delay="0" data-tooltip="Retirer des favoris"></span>
        <span class="menu-element-item-text favorite">Enregistré</span>
      </div>
    {% endif %}

    {% if not isMapMode %}
      <div class="menu-element-item item-show-on-map"> 
        <span class="menu-icon gogo-icon-locate tooltipped" 
        data-position="top" data-delay="0" data-tooltip="Afficher sur la carte"></span>
        <span class="menu-element-item-text">Voir sur la carte</span>
      </div>     
    {% endif %}
    
    {% if config.isFeatureAvailable('share') %} 
      <div class="menu-element-item item-share">
        <span class="menu-icon gogo-icon-share-alt tooltipped"
        data-position="top" data-delay="0" data-tooltip="Partager l'URL"></span>
        <span class="menu-element-item-text">Partager l'URL</span>
      </div>
    {% endif %}

    {% if config.isFeatureAvailable('directions') %} 
      <div class="menu-element-item item-directions">
        <span class="menu-icon gogo-icon-directions tooltipped" 
        data-position="top" data-delay="0" data-tooltip="Itinéraire vers cet élément"></span>
        <span class="menu-element-item-text">Itinéraire</span>
      </div>
    {% endif %}

    {% if config.isFeatureAvailable('edit') and (not element.isPending() or config.isFeatureAvailable('directModeration')) %} 
      <div class="menu-element-item item-edit">
        {% set editText = 'Modifier' if config.isFeatureAvailable('directModeration') else 'Proposer des modifications' %}
        <a href={{ editUrl }} {% if isIframe %}target="_blank"{% endif %}>
        <span class="menu-icon gogo-icon-edit tooltipped" 
        data-position="top" data-delay="0" data-tooltip="{{ editText }}"></span>
        <span class="menu-element-item-text">{{ editText }}</span></a>
      </div>
    {% endif %}

    {% if config.isFeatureAvailable('report') and not element.isPending() %} 
      <div class="menu-element-item item-report"> 
        <span class="menu-icon btn-report gogo-icon-exclamation-1 tooltipped" 
        data-position="top" data-delay="0" data-tooltip="Signaler une erreur"></span>
        <span class="menu-element-item-text">Signaler une erreur</span>
      </div>
    {% endif %}     

    {% if config.isFeatureAvailable('delete') and element.status != ElementStatus.PendingAdd %} 
      <div class="menu-element-item item-delete"> 
        <span class="menu-icon btn-delete gogo-icon-delete tooltipped" 
        data-position="top" data-delay="0" data-tooltip="Supprimer"></span>
        <span class="menu-element-item-text">Supprimer</span>
      </div>  
    {% endif %}     
  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails custom-scroll-bar">

    {# Body Main Container #}
    <div class="collapsible-body-main-content"> 

      {% set descriptionMore = element.getProperty('descriptionMore') %}
      {% if descriptionMore %}
          <!-- <h3>Précisions</h3>    -->
          <div class="section row sectionDescriptionMore" style="padding-bottom:0">
            <span class="col s12 description">{{ descriptionMore|safe }}</span>  
          </div>
        {% endif %}
      {# Contact infos #}
      <h3>Informations générales</h3>   
      <div class="section row sectionInfos">

        {# Address #}
        <span class="col s12 address">{{ element.getProperty('address')|safe }}</span>
        
        {# Tel #}
        {% set telephone = element.getProperty('telephone') %}
        {% if telephone %}
          <span class="col s12 tel">{{ telephone|safe }}</span>
        {% endif %}

        {# Mail #}
        {% if (config.isFeatureAvailable('sendMail') and element.email) or element.isPending() %}
          <span class="col s12 tel">
          {# if element is pending we need to show the email no matter the security rules #}
          {% if config.security.hideMailsByShowingSendMailButton and not (element.isPending() and config.isFeatureAvailable('pending')) %}
            <button class="btn send-mail-btn">Envoyer un Mail</button>
          {% else %}
            <a href="mailto:{{ element.email }}">{{ element.getProperty('email')|safe }}</a>            
          {% endif %}
          </span>
        {% endif %}

        {# WebSite #}
        {% set website = element.getProperty('website') %}
        {% if website %}
          <span class="col s12 tel"><a href="{{ element.website }}" target="_blank">{{ website|safe }}</a>
          </span>
        {% endif %}

      </div>
      <div class="info-bar-divider"></div>
      
      {# Categories  #}
      <h3>catégories</h3> 
      <div class="section row categories">
        {% import 'components/element-info-bar/element-info-category-value.html.njk' as categoryRenderer %}
        {{ categoryRenderer.renderCategoryValue(mainCategoryValue, 1) }}
      </div>
      <div class="info-bar-divider"></div>

      
      {% set commitment = element.getProperty('commitment') %}      
      {% if commitment %}
        <h3>Engagement Citoyen</h3>   
        <div class="section row">
          <span class="col s12 description">{{ commitment|safe }}</span>  
        </div>
        <div class="info-bar-divider"></div>
      {% endif %}

      {# Open Hours #}
      <h3>Horaires d'ouverture</h3>   
      <div class="section row sectionOpenHours">  
        {% set count = 0 %} 

        {% for key, horaire in element.getFormatedOpenHours() %} 
          {% if horaire != null %}

            <div class='row'>
              <span class="col s3 day">{{ key|capitalize }}</span>
              <span class="col s9 openHours">{{ horaire }} </span>
            </div>
            {% set count = count + 1 %} 

          {% endif %}
        {% endfor %}          

        {% set openHoursMoreInfos = element.getProperty('openHoursMoreInfos') %}      
        {% if openHoursMoreInfos %}
          <div class='col' {% if count != 0 %}style="margin-top:1rem;"{% endif %}>{{ openHoursMoreInfos|safe }}</div> 
          {% set count = count + 1 %} 
        {% endif %}

        {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %}       
      </div> 
    </div>
  </div> {# end BODY #}

</li>

