<div id="directory-menu-main-container">

  <div class="directory-menu-header">

		{% include 'components/directory-menu/search-bar.html.njk'  %} 			

		<div class="btn-close-menu large-screen tooltipped" data-tooltip="Fermer le menu" data-position="right" data-delay="300"><span class="arrow-left"></span></div>	

		<div class="search-results subheader" style="display:none">
		    <span class="search-result-label">Résultats : <span id="search-result-number"></span> {{ config.text.element }}(s) trouvé-e(s)</span>
		    <span class="icon gogo-icon-close btn-close" id="btn-close-search-result"></span>
		</div>

		<div class="directions-header subheader">
		    <h3>Calcul d'itinéraire</h3>
		    <span class="icon gogo-icon-close btn-close" id="btn-close-directions"></span>
		</div>
		
		<div class="shadow-bottom"></div>
	</div>	

	<div class="directory-menu-content">
	  
	  {% import 'components/spinner-loader.html.njk' as spinnerLoader %}
		{{ spinnerLoader.create('directory-menu-spinner-loader') }}

	  {% include 'components/directory-menu/filters-menu.html.njk' %}

	</div>

	<div class="btn-close-menu small-screen gogo-bg-neutral z-depth-2">Filtrer</div>

</div>