<div class="input-field" id="search-bar-container" > 

	<a class="gogo-icon-search gogo-h-primary" id="search-bar-icon"></a>

    <input class="validate" 
    	   placeholder="Rechercher un lieu, {{ config.text.elementIndefinite }}" 
    	   type="text" 
    	   id="search-bar" 
    	   name="adresse" 
    	   onClick="this.setSelectionRange(0, this.value.length)" 
    	   {% if config.address %}
    	   value="{{ config.address | replace({'-': ' '}) | capitalize }}" 
    	   {% endif %}
    />
    
</div>

<div class="search-options" style="display:none">
    <input class="search-option-radio-btn" data-name="place" name="search-type-option" type="radio" id="search-option-place" checked/>
    <label class="search-option-radio-label" for="search-option-place">Un lieu</label>
    <input class="search-option-radio-btn" data-name="element" name="search-type-option" type="radio" id="search-option-element"/>
    <label class="search-option-radio-label" for="search-option-element">{{ config.text.elementIndefinite | capitalize }}</label>
    
    <button id="search-btn" class="search-btn btn waves-effects">chercher</button>
    <button id="search-cancel-btn" class="search-btn btn waves-effects" style="display:none">
        annuler
        {% import 'components/spinner-loader.html.njk' as spinnerLoader %}
        {{ spinnerLoader.create('search-spinner-loader') }}
    </button>
</div>

{% if config.range %}
<div id="search-distance-component">
    <div class="range-field" id="search-distance-container">
      <input type="range" id="search-distance-input" min="30" max="150" value="{{ config.range }}" />
    </div>
   
    <div id='search-distance-value-container'>
        <span id='search-distance-value'>{{ config.range }} km</span> 
    </div>
    
</div>
{% endif %}