@import 'leaflet-routing-machine';
@import 'filter-menu/filter-menu';
@import 'directory-menu-directions';

#directory-menu
{
	z-index: 998;
	overflow-y:hidden; 
  @include transition(height .5s);
  @include box-shadow(4px 0 2px rgba(0, 0, 0, 0.2), -1px 0 2px rgba(0, 0, 0, 0.2));

	@media #{$medium-and-up} 
	{
		overflow: visible;
	}

	#directory-menu-main-container
	{
    @include flexbox();
    @include flex-flow(column);
    width: 100%;
    height: 100%;

    .directory-menu-header
    {      
      width: 100%;
      z-index: 2;
      position: relative;

      .menu-title {
        text-align: center;
        line-height: 2.8rem;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        @media #{$medium-and-up} { display:none; }
      }

      .search-bar-container { @media #{$small-only} {display:none;} }

      .btn-close-menu.large-screen
      {        
        position: absolute;
        right: 0px;
        top: 0;
        width: 24px;
        bottom: 0;
        
        @include align(center);
        display:none;

        .arrow-left
        {          
          border: solid 8px;
          border-color: transparent #eeeeee transparent transparent;
        }  

        &:hover
        {
          cursor: pointer;
          .arrow-left { border-color: transparent white transparent transparent; }
        }              
      }      

      .subheader
      {
        position: relative;       

        .btn-close
        {
          position: absolute;
          margin: 0;
          right: 0;
          top: 7px;
          padding: 0 1rem;
          z-index: 50;
          color: #CECECE;

          &:hover
          {
            color: white;
            cursor: pointer;
          }
        }       
      }           

      @include transition(all .5s);

      @media (min-width : 850px)
      {
        width: calc(100% + 12px);
        border-radius: 0 0 5px 5px;
        padding-right: 15px;

        .btn-close-menu.large-screen { @include flexbox(); }
        .btn-close-menu.small-screen { display:none }
      }
    }

    .shadow-bottom { bottom: -8px; border-top: none; }  	

    .directory-menu-content
    {     
      @include flexbox();
      @include flex(1 auto);
      position: relative;        

      #directory-menu-spinner-loader
      {
        top: 40%;
        left: 40%;
        position: absolute;
        display: none;
      }    
    }      		
	}

  .btn-close-menu.small-screen
  { 
    color: white;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    text-align: center;
    line-height: 2.5rem;
    z-index: 10;
    box-shadow: 1px -2px 11px 2px rgba(0, 0, 0, 0.25);

    @media (min-width : 850px) { display:none; }
  }  
}

@media (min-width: 850px) {
  .directory-menu-drag-target { display:none !important; }
}

#directory-menu-overlay {  
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 120vh;
  background-color: rgba(0,0,0,.5);
  z-index: 997;

  will-change: opacity;

  @media (min-width: 850px) { display:none !important; }
}

// Touch interaction
.directory-menu-drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 999;
}


