/*
* @Author: Sebastian Castro
* @Date:   2017-12-04 10:41:19
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-07-04 16:46:26
*/
$moderation-color: #c53f36;

#filter-moderation
{
  color: $moderation-color;

  .moderation-checkbox:not(:checked) + label:before
  {
    background-color: transparent;
    border-color:$moderation-color;
  }

  .moderation-checkbox + label:before
  {
    color:$moderation-color;
  }  
}

#filter-favorite
{
  color: $favorite-color;

  .gogo-icon-star-full
  {
    color: white;
    font-size: 18px;
    
    &:before
    {
      padding: 2px;
      padding-bottom: 3px;
      border: none;
      color:$favorite-color; background-color: transparent
    }
  }

  .favorite-checkbox:not(:checked) + label:before
  {
    background-color: transparent;
    border-color:$favorite-color;
  }

  .favorite-checkbox + label:before
  {
    color:$favorite-color;
  }  
}