@import 'modules/prefixer';
@import 'modules/variables';
@import 'modules/normalize';

@import 'vendors/materialize';
@import 'vendors/leaflet';
@import "vendors/marker-clusterer";

.gogocarto-container
{
  @include flexbox();
  @include flex(1 auto);
  height: 100%;    

  @import "components/helpers-bars";
  @import "components/loaders";
  @import "components/directory-menu/directory-menu";

  @import 'components/icons';

  @import 'components/map/marker';
  @import "components/map/cluster";
  @import "components/map/directions";
  @import "components/map/map";
  @import "components/map/map-controls";

  @import "components/element-list";

  @import "components/element-info-bar/info-bar";

  @import "components/modals/modals";

  @import "components/commons/shadow-bottom";
  @import "components/commons/scroll-bar";

  #directory-menu
  {
    position:absolute;      
    height:100%;
    width: 100%; 
    @media #{$medium-and-up} { width: 340px; } 
  } 

  #directory-content
  {
    position: relative; 
    background-color: #9e9e9e;
    overflow: hidden;
  
    @include flex(1 auto);      
    @include flexbox();
    @include flex-flow(column nowrap);
  }

  h1
  {
    font-size: 2.5rem;
    text-align: center;
    margin-top: .5rem;
    font-family: Kalam;

     @media screen and (min-width: 600px) { font-size: 3.5rem; }
  }
}



