{% if config.isFeatureActivated('customPopup') %}
  <div id="gogo-custom-popup" class="gogo-section-content" style="display:none;">
    <p>
      {{ config.features.customPopup.options.text|safe }}
      <span class="icon gogo-icon-close gogo-color-link" id="btn-close-custom-popup"></span>
    </p>    
  </div>
{% endif %}