<div class="element-list-header gogo-list-title gogo-bg-list-title-background">  

  <div class="show-directory-menu-button gogo-bg-primary gogo-map-control" data-activates="directory-menu" style="display:none">  
    <span class="text">Menu</span>
    <i class="gogo-icon-angle-right"></i>
  </div> 
        
  <span class="show-as-map-button gogo-neutral-dark gogo-h-primary"> <span class="icon btn-back gogo-icon-material-design-icons-1"></span></span>

  <div class="title-text">
    Résultats
    <span class="element-list-title-number-results"></span>
    <span class="element-list-title-text"></span>
  </div> 

  <div class='shadow-bottom' id="list-title-shadow-bottom"></div>   
</div>

<div class="elements-container custom-scroll-bar">
  <ul class="collapsible popout" data-collapsible="accordion"></ul>
  <div class="bottom-gradient hide-on-med-and-up"></div>
  <div class="spinner-loader"><center>{{ spinnerLoader.create('directory-list-spinner-loader') }}</center></div>
</div>