<div class="element-list-title-bar gogo-list-title gogo-bg-list-title-background">
  Résultats
  <span class="element-list-title-number-results"></span>
  <span class="element-list-title-text"></span> 

  <div class="show-directory-menu-button gogo-bg-primary gogo-map-control" data-activates="directory-menu" style="display:none">  
    <span class="text">Menu</span>
    <i class="gogo-icon-angle-right"></i>
  </div> 
        
  <span class="show-as-map-button gogo-neutral-dark gogo-h-primary"> <span class="icon btn-back gogo-icon-material-design-icons-1"></span></span>
  <div class='shadow-bottom' id="list-title-shadow-bottom"></div>
   
</div>
<ul class="collapsible popout custom-scroll-bar" data-collapsible="accordion">
  <div class="spinner-loader"><center>{{ spinnerLoader.create('directory-list-spinner-loader') }}</center></div>
</ul>