{% extends "components/modals/abstract-modal.html.njk" %}

{% block submitText %}Signaler{% endblock %}

{% block id %}report{% endblock %}

{% block content %}
	<h5 id="modal-title">Signaler une erreur concernant <span class="elementName"></span></h5>
	<p>Quelle erreur voulez-vous signaler ?</p>	 

	<p id="select-error" class="error">Vous devez sélectionner un type d'erreur!</p>

	<input class="option-radio-btn "value="0" name="report-error" type="radio" id="report1"/>
	<label class="option-radio-label" for="report1">{{ config.text.elementDefinite | capitalize }} n'existe plus</label>

	<input class="option-radio-btn "value="1" name="report-error" type="radio" id="report2"/>
	<label class="option-radio-label" for="report2">Les informations ne sont pas correctes (si vous êtes en mesure de les corriger, merci de le faire via le boutton "Proposer des Modifications")</label>

	<input class="option-radio-btn "value="2" name="report-error" type="radio" id="report3"/>
	<label class="option-radio-label" for="report3">{{ config.text.elementDefinite | capitalize }} ne respecte pas la charte, il n'a rien à faire ici</label>

	<input class="option-radio-btn "value="4" name="report-error" type="radio" id="report4"/>
	<label class="option-radio-label" for="report4">{{ config.text.elementDefinite | capitalize }} est référencé plusieurs fois sur la carte (doublon)</label>

	<p id="mail-error" class="error" style="margin-bottom: -15px;">Veuillez renseigner une adresse mail valide</p>
	<div class="input-field" >
		<input class="input-mail validate" type="email" placeholder="Votre adresse mail" style="margin-bottom: 0">
	</div>

	<div class="input-field">
		<input class="input-comment" type="text" placeholder="Commentaire optionnel pour la modération"/>
	</div>
{% endblock %}